
.h3Class{
	font-size: 25px;
}

.size5{
	width:5%;
}.size10{
	width:10%;
}.size15{
	width:15%;
}.size20{
	width:20%;
}.size25{
	width:25%;
}.size30{
	width:30%;
}.size35{
	width:35%;
}.size40{
	width:40%;
}.size45{
	width:45%;
}.size50{
	width:50%;
}.size55{
	width:55%;
}.size60{
	width:60%;
}.size65{
	width:65%;
}.size70{
	width:70%;
}.size75{
	width:75%;
}.size80{
	width:80%;
}