
.wrapperMain{
	padding:15px;
	background:$bg-color-white;
}
.containerMain{
	padding-top: 25px;
}
.contentTitle {
    padding-bottom: 15px;
    text-align: center;
}
.contentAsideWrapper{
	background:$bg-color-grayDark;
}
.contentRow{
	margin-bottom:10px;
}
.disabled{
	opacity: 0.5;
    pointer-events: none;
}
.width100{
	width:100%;
}
.txtLeft{
	text-align:left;
}

.floatR{
	float:right;
}
.floatL{
	float:left;
}
.center{
	text-align:center;
}
.bgGreenLight{
	background:$bg-color-greenTooLight;
}
.bgWhite{
	background:$bg-color-white;
}
.h2Class{
	font-size: 1.6em;
    font-weight: bold;
   	text-transform:uppercase;
}
.h3Class{
	font-size: 1.4em;
	text-align: center;
	font-weight: bold;
	text-transform:uppercase;
}


.asideLeft{
	background:$bg-color-grayDark;
	ul{
		text-align:center;
	}
}
.asideLeft__element{
	display:inline-block;
	text-align: center;
	&.active{
		background:$bg-color-active-green;
	}
}
.asideLeft__element__link{
	padding: 6px 62px;
	text-decoration: none;
	display: block;
	&:hover, &:link{
		text-decoration: none;
	}
	&:hover{
		background: $link-hover-color-gray;
	}
}
.bbq-align-left--style1:before {
  	color:$color-white;
    font-size: 2.3em;
}
.bbq-info-1--style1:before {
  	color:$color-white;
    font-size: 2.3em;
}

.contentAddItem__wrapperAddItem{
	background: $bg-color-graytooLight;
	padding: 28px 13px 10px 13px;	
	position:relative;
}
.contentAddItem__wrapperAddItem__level2{
	@extend .contentAddItem__wrapperAddItem;
	padding:13px;
	width:100%;
}

.viewOptions{
	margin-bottom: 13px;
}
.viewOptions__byIcon{
	background:$bg-color-graytooLight2;
	padding: 4px;
	border:1px solid $color-grayLight;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	display: inline-block;
	float: left;
	&:hover, &:link{
		text-decoration: none;
	}
	&.active{
		background:$bg-color-white;
		.bbq-thumbnails--loms:before{
			color:$color-blueDark2		
		}
	}
}
.viewOptions__byList{
	background:$bg-color-graytooLight2;
	padding: 4px;
	border:1px solid $color-grayLight;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	display: inline-block;
	float: left;
	&:hover, &:link{
		text-decoration: none;
	}
	&.active{
		background:$bg-color-white;
		.bbq-list--loms:before{
			color:$color-blueDark2;
		}
	}
}

// ------------------ Icons -----------------
.bbq-list--style:before {
  color:$color-grayLight2;
  display: block;
  font-size: 1.6em;
  padding-top:2px;
}
.bbq-thumbnails--style:before {
  color:$color-grayLight2;
  display: block;
  font-size: 1.6em;
  padding-top:2px;
}

.bbq-page-add--style1:before {
  font-size: 2.6em;
  color:$color-white;
  vertical-align: middle;
}
.bbq-page-delete--style1:before {
  font-size: 2.6em;
  color:$color-white;
  vertical-align: middle;
}
.bbq-page-edit--style1:before {
  font-size: 2.6em;
  color:$color-white;
  vertical-align: middle;
}
.bbq-page-remove--style1:before {
  font-size: 2.6em;
  color:$color-white;
  vertical-align: middle;
}

// --------------------------------------------
.size5{
	width:5%;
}.size10{
	width:10%;
}.size15{
	width:15%;
}.size20{
	width:20%;
}.size25{
	width:25%;
}.size30{
	width:30%;
}.size35{
	width:35%;
}.size40{
	width:40%;
}.size45{
	width:45%;
}.size50{
	width:50%;
}.size55{
	width:55%;
}.size60{
	width:60%;
}.size65{
	width:65%;
}.size70{
	width:70%;
}.size75{
	width:75%;
}.size80{
	width:80%;
}

// ------------------------   Margins ---------------
.mt5{
	margin-top:5px;
}.mt10{
	margin-top:10px;
}.mt15{
	margin-top:15px;
}.mt20{
	margin-top:20px;
}.mt25{
	margin-top:25px;
}.mt30{
	margin-top:30px;
}

.mb5{
	margin-bottom:5px;
}.mb10{
	margin-bottom:10px;
}.mb15{
	margin-bottom:15px;
}.mb20{
	margin-bottom:20px;
}.mb25{
	margin-bottom:25px;
}.mb30{
	margin-bottom:30px;
}

.mr5{
	margin-right:5px;
}.mr10{
	margin-right:10px;
}.mr15{
	margin-right:15px;
}.mr20{
	margin-right:20px;
}.mr25{
	margin-right:25px;
}.mr30{
	margin-right:30px;
}

.ml5{
	margin-left:5px;
}.ml10{
	margin-left:10px;
}.ml15{
	margin-left:15px;
}.ml20{
	margin-left:20px;
}.ml25{
	margin-left:25px;
}.ml30{
	margin-left:30px;
}

// ------------------------   Paddings ---------------

.pdt5{
	padding-top:5px;
}.pdt10{
	padding-top:10px;
}.pdt15{
	padding-top:15px;
}.pdt20{
	padding-top:20px;
}.pdt25{
	padding-top:25px;
}

.pdr5{
	padding-right:5px;
}.pdr10{
	padding-right:10px;
}.pdr15{
	padding-right:15px;
}.pdr20{
	padding-right:20px;
}.pdr25{
	padding-right:25px;
} 

.pdb5{
	padding-bottom:5px;
}.pdb10{
	padding-bottom:10px;
}.pdb15{
	padding-bottom:15px;
}.pdb20{
	padding-bottom:20px;
}.pdb25{
	padding-bottom:25px;
}

.pdl5{
	padding-left:5px;
}.pdl10{
	padding-left:10px;
}.pdl15{
	padding-left:15px;
}.pdl20{
	padding-left:20px;
}.pdl25{
	padding-left:25px;
}


/* Small devices (tablets, 768px and up) */

@media (min-width: $screen-sm) {
	body.wrapperMain{
		padding:30px;
		.h2Class{
			font-size: 2em;
		}
		.h3Class{
			font-size: 1.6em;
		}
		.asideLeft{
			width: 10%;
			float: left;
		}
		.asideLeft__element{
			display:inherit;
			padding: 20px 0px;
		}
		.asideLeft__element__link{
			padding: 27px 0;
		}
		.bbq-list--style:before {
		  font-size: 1.7em;
		}
		.bbq-thumbnails--style:before {
		  font-size: 1.7em;
		}
		.contentAddItem__wrapperAddItem{
			float:left;
			width:90%;
		}
		.contentAddItem__wrapperAddItem__level2{
			width:100%;
		}
		.bbq-page-add--style1:before {
		  font-size: 2.2em;
		}
		.bbq-page-delete--style1:before {
		  font-size: 2.2em;
		}
		.bbq-page-edit--style1:before {
		  font-size: 2.2em;
		}
		.bbq-page-remove--style1:before {
		  font-size: 2.2em;
		}
		.btnBq--withIcon{
		  padding: 7px 10px;
		}

		.contentAdminCourses{
			.wrapperLinkCourses{
			    padding: 25px 16px 0px 16px;				
			    background: $bg-color-greenLight;
			    .wrapperLinkCourses__title{
					margin-bottom:40px;
				}
				.wrapperLinkCourses__list{

				}
				.wrapperLinkCourses__list__element{
					margin-bottom:45px;
				}
				.wrapperLinkCourses__list__element__link{
					
				}
				.wrapperLinkCourses__list__element__link__img{
					margin-bottom:15px;
				}
				.wrapperLinkCourses__list__element__link__subtitle{
					margin-bottom:5px;
					font-size: 1.4em;
				}
				.wrapperLinkCourses__list__element__link__description{
					font-size: 1.2em;
				}
			}
		}

		.contentTotalCourses, .contentEnrolledCourses{
			.contentCourses{
    			padding:20px;
			}
			.contentCourses__wrapperCourses{
				padding: 20px 20px 0px 20px;
			}
			.contentCourses__wrapperCourses__course{
				padding: 0px 10px 46px 10px; 
			}
			.contentCourses__wrapperCourses__course__link__contentImage__title{
	    		font-size: 1.6em;
	    		bottom: 8px;
			}
			.bbq-edit--course:before{
				font-size: 1.1em;
			}
			.bbq-delete--course:before{
				font-size: 1.1em;
			}
		}


		.wrapperCourse{
			padding:0 7px;
			.wrapperCourse__header{
				padding: 7px 0 20px 0;
			}
			.wrapperCourse__header__info{
				text-align: center;
				margin-bottom:40px;
			}
			.wrapperCourse__header__info__title{
				
			}
			.wrapperCourse__header__info__description{
				text-align: center;
			}
			.wrapperCourse__header__info__link{
				text-align: center;
			}
			.wrapperCourse__lessons{
				padding:24px 0 13px 0;
			}
			.wrapperCourse__lessons__title{
				margin-bottom: 25px;
			}
			.wrapperCourse__lessons__description{
				margin-bottom: 25px;
			}
			.wrapperCourse__lessons__contentLessons__element{
				margin-bottom: 30px;
				border: none;
		    	padding-bottom: 0px;
		    	border-radius:0px;
			}
			.wrapperCourse__lessons__contentLessons__element__img{
				margin-bottom: 0px;
				width: 100%;
				max-height: 115px;
				display: inline-block;
				vertical-align: middle;
				border-radius:10px;
			}
			.wrapperCourse__lessons__contentLessons__element__link{
				padding-left:15px;
				display: block;
				vertical-align: middle;
				height: 115px;
				padding-top: 23px;
				background-color:$bg-color-greenLight;
				border:1px solid $color-green;
				&:hover{
					background-color: $bg-color-greenLightHover;
		    		text-decoration: none;
		    		color:$link-color-black;
		    	}
			}
			.wrapperCourse__lessons__contentLessons__element__link__info{
				text-align:left;
				width: 91%;
				display: inline-block;
				vertical-align: middle;
				padding:0px;
				vertical-align: middle;
			}
			.wrapperCourse__lessons__contentLessons__element__link__info__title{
				font-size: 1.2em;
				text-align: inherit;
				margin-bottom:7px;
			}
			.bbq-arrow-go--lesson {
				vertical-align: middle;
				display: inline-block;
			}
			.bbq-arrow-go--lesson:before {
		 		font-size: 2.4em;
			}

		}
		
		.wrapperLesson{
			.contentTitle{
				margin-bottom:15px;
			}
			.wrapperLesson__options{
				float: right;	
			}		
			.wrapperLesson__options__ok{
				display: inline-block;
				margin-right: 10px;
			}
			.wrapperLesson__options__nok{
				display: inline-block;	
				margin-right: 10px;
			}
			.wrapperLesson__options__wait{
				display: inline-block;
			}
			
			.wrapperLesson__options__ok__link{
				padding:10px;
			}
			.bbq-ok2--lesson:before {
			  	font-size: 2em;
			}
			.bbq-nok--lesson:before {
			  	font-size: 2em;
			}
			.bbq-cloud--lesson:before {
			  	font-size: 2em;
			}


		}

		.wrapperObjectives{
			.contentTitle{
				text-align: left;
			}
			.wrapperObjectives__contetObjetives__list{
				padding:40px 0 0 70px;
			}
			.wrapperObjectives__contetObjetives__list__element{
				margin-bottom: 20px;
			}
			.wrapperObjectives__contetObjetives__list__element__contentImage{
				vertical-align: middle;
				text-align: left;
				display: inline-block; 
				margin-bottom: 0px;
				margin-right: 30px;
			}
			.wrapperObjectives__contetObjetives__list__element__contentImage__img{
				display: inline-block;
				width: 100px;
			}
			.wrapperObjectives__contetObjetives__list__element__info{
				display: inline-block;
				text-align:left;
			}
			.wrapperObjectives__contetObjetives__list__element__info__title{
			
			}
			.wrapperObjectives__contetObjetives__list__element__info__description{
				
			}
			


		}


	}

	header.contentHeader{
		display:table;
		padding-right: 12px;
		position:inherit;
		.contentHeader__logo{
			display: table-cell;
			vertical-align: middle;
			width: 10%;
		}
		.contentHeader__logo__image{
			width: 30px;
		}
		.bbq-logobibtloq--header:before {
  			font-size:1.9em;
		}
		.contentHeader_content{
			display: table-cell;
			vertical-align: middle;
			width: 90%;
			nav{
	    		display:inline-block;
	    	}
		}
		.contentHeader_content__options{
			display: inline-block;
		}
		.contentHeader_content__options__element{
			display: inline-block;
		}
		.contentHeader_content__options__element__link{
			display: inline-block;
			padding: 20px 18px;
			font-size: 1.6em;
		}
		.contentHeader_content__profile{
			position: inherit;
		    float: right;
		    margin-top: 21px;
		}
		.bbq-user--header:before {
			color:$color-grayLight;
		  	font-size: 1.6em;
		}
	}

	.contentAdminLoms{
		.contentTitle{
			padding-left: 15px;
		}	
		.contentAdminLoms__contentLoms__viewOptionsfilterSearch{
			padding-top: 6px;
		}
		.contentAdminLoms__contentLoms__list{
			padding:0 60px;
		}
		.contentAdminLoms__contentLoms__list__wrapperLom{
			padding:26px 11px;
		}
		.contentAdminLoms__contentLoms__viewOptionsfilterSearch__filter{
		    float:right;
		}
		.contentAdminLoms__contentLoms__viewOptionsfilterSearch__search{
			float: right;
	    	display: inline-block;
		}
	}

	.contentTotalCourses,.contentEnrolledCourses{
		.contentTitle{
			padding-left: 15px;
		}	
		.contentCourses__viewOptionsfilterSearch{
			padding-top: 6px;
		}
		.contentCourses__list{
			padding:0 60px;
		}
		.contentCourses__list__wrapperCourse{
			padding:26px 11px;
		}
		.contentCourses__viewOptionsfilterSearch__filter{
		    float:right;
		}
		.contentCourses__viewOptionsfilterSearch__search{
			float: right;
	    	display: inline-block;
		}
		.bbq-edit--course:before{
			font-size: 1.3em;
		}
		.bbq-delete--course:before{
			font-size: 1.3em;
		}
	}

	.contentAddItem{

		.btnBq--style2{
		  padding:7px 35px;
		}
		
		// -------  LOMS  ----------
		
		.formAddLom__label{
			line-height: 32px;
			margin-bottom:0px;
		}
		.formAddLom__input{
			
		}

		// ------- CURSOS ----------
		.formAddCourse__fieldset__contentFields{
			padding:23px;
		}
		.formAddCourse__fieldset__level2__contentFields{
			padding: 10px;
		}
		
		.contentAddItem__wrapperAddItem__level2{
			margin-top:15px;
		}

		.formAddCourse__fieldset__contentFields__btLoms{
			float: inherit;
		}

		.formAddCourse__fieldset__contentFields__selectLoms__options{
			margin-top:68px;
		}
		.formAddCourse__fieldset__contentFields__selectLoms__options__add{
			margin-bottom:14px;
		}
		.formAddCourse__fieldset__contentFields__selectLoms__options__delete{

		}
		.formAddCourse__fieldset__contentFields__selectLoms__added{
			margin-top: 0px;
		}
		.formAddCourse__fieldset__contentFields__label{
			line-height: 32px;
			margin-bottom:0px;
		}
		.formAddCourse__fieldset__contentFields__input{
			
		}
		.formAddCourse__fieldset__level2__contentFields__label{
			line-height: 32px;
			margin-bottom:0px;
		}
		.formAddCourse__fieldset__level2__contentFields__input{
			
		}

	}
}


/* Medium devices (desktops, 992px and up) */

@media (min-width: $screen-md) {
	body.wrapperMain{
		.asideLeft{
			width: 7%;
			float: left;
		}
		.contentAddItem__wrapperAddItem{
			width:93%;
		}
		.contentAddItem__wrapperAddItem__level2{
			width:100%;
		}
		.btnBq--withIcon{
		  padding: 7px 35px;
		}

		.contentTotalCourses, .contentEnrolledCourses{
			.contentCourses__wrapperCourses{
				padding: 20px 40px 0px 40px;
			}
			.contentCourses__wrapperCourses__course{
				padding: 0px 15px 60px 15px; 
			}
			.contentCourses__wrapperCourses__course__link__contentImage__title{
	    		font-size: 1.8em;
	    		bottom: 8px;
			}

		}
	}
   header.contentHeader{
   		padding-right: 20px;
		.contentHeader_content{
			text-align:center;
		}
		.contentHeader__logo__image{
			width: 36px;
		}
		.bbq-logobibtloq--header:before {
  			font-size:2.5em;
		}
		.contentHeader_content__options__element__link{
			padding: 20px 69px;
		}
		.bbq-graduation-cap--header:before {
		  display: block;
		}
		.bbq-cloud--header:before {
		  display: block;
		}
		.bbq-book-open--header:before {
		  display: block;
		}
		.bbq-comment--header:before {
		  display: block;
		}
		.contentHeader_content__profile{
		    margin-top: 25px;
		}
		.bbq-user--header:before {
		  	font-size: 2.4em;
		}
	}

	.contentAdminLoms{
		
		.contentAdminLoms__contentLoms__list{
			padding:0 120px;
		}
		.contentAdminLoms__contentLoms__list__wrapperLom{
			padding:29px 17px;
		}
	}

	.contentAdminCourses{
		.wrapperLinkCourses{
			.wrapperLinkCourses__title{
				margin-bottom:50px;
			}
			.wrapperLinkCourses__list{

			}
			.wrapperLinkCourses__list__element{
				margin-bottom:55px;
			}
			.wrapperLinkCourses__list__element__link__description{
				min-height: 40px;
			}
		}
	}

	.contentTotalCourses, .contentEnrolledCourses{
		
		.contentCourses__list{
			padding:0 120px;
		}
		.contentCourses__list__wrapperCourse{
			padding:29px 17px;
		}
		
	}
}