
.wrapperMain{
	padding:30px;
	background:$bg-color-white;
}
.containerMain{
	padding-top: 25px;
}
.contentTitle {
    padding-bottom: 15px;
    text-align: center;
}

.h2Class{
	font-size: 1.3em;
    font-weight: bold;
}
.h3Class{
	font-size: 25px;
}

.asideLeft{
	background:$bg-color-grayDark;
	width: 10%;
	float: left;
}
.asideLeft__element{
	text-align: center;
}
.asideLeft__element__link{
	padding:20px 0;
	text-decoration: none;
	display: block;
}
.bbq-align-left--style1:before {
  	color:$color-white;
    font-size: 1.7em;
}
.bbq-info-1--style1:before {
  	color:$color-white;
    font-size: 1.7em;
}

.contentAddItem__wrapperAddItem{
	background: $bg-color-graytooLight;
	padding: 13px;	
	float:left;
	width:90%;
}

.bbq-list--style:before {
  color:$color-grayLight2;
  display: block;
  font-size: 1.6em;
  padding-top:2px;
}
.bbq-thumbnails--style:before {
  color:$color-grayLight2;
  display: block;
  font-size: 1.6em;
  padding-top:2px;
}

.size5{
	width:5%;
}.size10{
	width:10%;
}.size15{
	width:15%;
}.size20{
	width:20%;
}.size25{
	width:25%;
}.size30{
	width:30%;
}.size35{
	width:35%;
}.size40{
	width:40%;
}.size45{
	width:45%;
}.size50{
	width:50%;
}.size55{
	width:55%;
}.size60{
	width:60%;
}.size65{
	width:65%;
}.size70{
	width:70%;
}.size75{
	width:75%;
}.size80{
	width:80%;
}

.mb5{
	margin-bottom:5px;
}.mb10{
	margin-bottom:10px;
}.mb15{
	margin-bottom:15px;
}.mb20{
	margin-bottom:20px;
}.mb25{
	margin-bottom:25px;
}

.pdb5{
	padding-bottom:5px;
}.pdb10{
	padding-bottom:10px;
}.pdb15{
	padding-bottom:15px;
}.pdb20{
	padding-bottom:20px;
}.pdb25{
	padding-bottom:25px;
}


/* Small devices (tablets, 768px and up) */

@media (min-width: $screen-sm) {
	header.contentHeader{
		display:table;
		padding-right: 12px;
		position:inherit;
		.contentHeader__logo{
			display: table-cell;
			vertical-align: middle;
			width: 10%;
		}
		.contentHeader__logo__image{
			width: 30px;
		}
		.contentHeader_content{
			display: table-cell;
			vertical-align: middle;
			width: 90%;
			nav{
	    		display:inline-block;
	    	}
		}
		.contentHeader_content__options{
			display: inline-block;
		}
		.contentHeader_content__options__element{
			display: inline-block;
		}
		.contentHeader_content__options__element__link{
			display: inline-block;
			padding: 20px 18px;
			font-size: 1.6em;
		}
		.contentHeader_content__profile{
			position: inherit;
		    float: right;
		    margin-top: 21px;
		}
		.bbq-user--header:before {
			color:$color-grayLight;
		  	font-size: 1.6em;
		}
	}

	.contentAdminLoms{
		.contentTitle{
			padding-left: 15px;
		}	
		
	}
}


/* Medium devices (desktops, 992px and up) */

@media (min-width: $screen-md) {
   header.contentHeader{
   		padding-right: 20px;
		.contentHeader_content{
			text-align:center;
		}
		.contentHeader__logo__image{
			width: 36px;
		}
		.contentHeader_content__options__element__link{
			padding: 20px 69px;
		}
		.bbq-graduation-cap--header:before {
		  display: block;
		}
		.bbq-cloud--header:before {
		  display: block;
		}
		.bbq-book-open--header:before {
		  display: block;
		}
		.bbq-comment--header:before {
		  display: block;
		}
		.contentHeader_content__profile{
		    margin-top: 25px;
		}
		.bbq-user--header:before {
		  	font-size: 2.4em;
		}
	}
}