@font-face {
    font-family: 'bbq_latin_greek-regular';
    src: url('./../css/fonts/bbq_latin_greek-regular.eot');
    src: url('./../css/fonts/bbq_latin_greek-regular.eot') format('embedded-opentype'),
         url('./../css/fonts/bbq_latin_greek-regular.woff') format('woff'),
         url('./../css/fonts/bbq_latin_greek-regular.ttf') format('truetype'),
         url('./../css/fonts/bbq_latin_greek-regular.svg#bbq_latin_greek-regular') format('svg');
}
@font-face {
    font-family: 'bbq_latin_greek-italic';
    src: url('./../css/fonts/bbq_latin_greek-italic.eot');
    src: url('./../css/fonts/bbq_latin_greek-italic.eot') format('embedded-opentype'),
         url('./../css/fonts/bbq_latin_greek-italic.woff') format('woff'),
         url('./../css/fonts/bbq_latin_greek-italic.ttf') format('truetype'),
         url('./../css/fonts/bbq_latin_greek-italic.svg#bbq_latin_greek-italic') format('svg');
}


html, body {
    font-family: $font-corporate-regular;
    color: $text-color-black;
    font-size: 1em;
}