// == Colores
$color-gray: #666666; //color texto menu cabecera
$color-gray2: #999999; //Borde de matrículas
$color-grayLight: #c2c2c2;
$color-grayLight2:  #a3a4a8; //Color de enlace de orderBy desactivado de loms
$color-grayTooLight: #ededed; 
$color-blue-shadow:#00759c;
$color-blueDark1: #022a45;
$color-blueDark2: #5d6069;    
$color-blueLight: #39bee6;
$color-blueTooLight: #aec1cf;
$color-white: #fff;
$color-black:#000000;
$color-purple:#6f60b3;
$color-green:#82ad3a; //color de fondo de botones
$color-greenDark:#6a8d2f; //color de fondo de botones en hover
$color-greenWater: #29bd98;
$color-blueTable: #2f5f75;
$color-blackLiht:#504f4f;
$tabPanel-color-gray: #e6e0e0;

//map
$map-color-red: #ff3b55;
$map-color-green:#00bf96;
$map-color-blue:#00bfe6;
$map-color-light:#ebf2f7;
$map-color-gray:#616161;

// == Scaffolding
$body-bg: #FFFFFF !default;
//color de fuentes
$text-color-gray: #666666; //color texto menu cabecera
$text-color-grayLight: #c2c2c2;
$text-color-grayLight2: #a3a4a8;
$text-color-grayTooLight: #ededed; 
$text-color-blueDark: #022a45;
$text-color-blueDark2: #0c4b63;
$text-color-blueLight: #39bee6;
$text-color-blueTooLight: #aec1cf;
$text-color-purple:#6f60b3;
$text-color-greenDark:#6a8d2f; //color de fondo de botones en hover
$text-color-green:#82a63c;
$text-color-waterGreen: #00bd9a;
$text-color-white: #FFFFFF; // blanco
$text-color-black: #000000; // negro
$text-color-blackLiht:#504f4f;
$text-color-gray2: #213744; // letras de footer

//Color de enlaces
$link-color: #000000;
$link-hover-color: #000000;
$link-hover-decoration: underline !default;
$link-color-gray: #666666; //color texto menu cabecera
$link-color-grayLight: #c2c2c2;
$link-color-grayTooLight: #ededed; //color de barra de porcentajes
$link-color-blueDark: #022a45;
$link-color-blueDark2: #0c4b63;
$link-color-blueLight: #39bee6;
$link-color-blueTooLight: #aec1cf;
$link-color-purple:#6f60b3;
$link-color-green:#82ad3a; //color de fondo de botones
$link-color-greenDark:#6a8d2f; //color de fondo de botones en hover
$link-color-green:#82a63c;
$link-color-green:#82a63c;//usuario de info de lista de loms
$link-color-waterGreen: #00bd9a;
$link-color-white: #FFFFFF; // blanco
$link-color-black: #000000; // negro
$link-color-blackLiht:#504f4f;
$link-color-gray2: #213744; // letras de footer
$link-color-blue2:#8598ba; //enlace log out | profile de cabecera
$link-hover-color: #000000;
$link-hover-color-gray:#666666;
$link-hover-decoration: underline !default;

// backgrounds
$bg-color-white: #FFFFFF; // blanco
$bg-color-black: #000000; // negro
$bg-color-blackLight:#504f4f;
$bg-color-gray: #f0f3f5; 
$bg-color-graytooLight: #ededed;//color de fondo de estión de loms
$bg-color-graytooLight2: #ebebeb;//color de fondo de estión de loms
$bg-color-grayDark: #424752;//Color de fondo de cabecera
$bg-color-blueLight: #00add4;
$bg-color-blueHoverNav: #016889;
$bg-color-blueDark: #022a45;
$bg-color-grayLight: #f2f3f6; //Color de fondo de cuerpod de pagina de tablas
$bg-color-grayDark: #282828; // gris oscuro oscuro (utilizado en el footer)
$bg-color-red: #B82C33; // rojo
$bgButton-color-green:#82ad3a; //color de fondo de botones
$bgButton-color-greenDark:#6a8d2f; //color de fondo de botones en hover
$bg-color-green:#82a63c;
$bg-color-greenLight:#e1eccc; //Color de fondo de fieldset de segundo nivel en formularios
$bg-color-greenTooLight:#f8fdef; //Color de fondo de fieldset de tercer nivel en formularios
$bg-color-active-green:#749c2c;
$bg-color-cherry:#832d55; //Color de botones y lista de loms
$bg-color-cherryLight:rgba(131, 45, 85, 0.52);//Color en hover de lista de loms 

// == Tipografias
$font-corporate-regular: Arial;
$font-corporate-italic: Arial;


//== Media queries breakpoints
// Extra small screen / phone
$screen-xs: 480px !default;
$screen-xs-min: $screen-xs !default;
$screen-phone: $screen-xs-min !default;

// Small screen / tablet
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;
$screen-tablet: $screen-sm-min !default;

// Medium screen / desktop
$screen-md: 992px !default;
$screen-md-min: $screen-md !default;
$screen-desktop: $screen-md-min !default;

// Large screen / wide desktop
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;
$screen-lg-desktop: $screen-lg-min !default;


$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;