
.formAddLom{
	input,select{
		width: 100%;
	}
	.formAddLom__submit{
		width: initial;
	}
}
	.formAddLom__fieldset__contentFields{

	}
	.formAddLom__fieldset__legend{
		font-size: 1.2em;
		font-weight: bold;
		color:$text-color-black;
	}
	.formAddLom__label{
		padding-bottom:5px;
	}
	.formAddLom__input{
		width: 100%;
		padding:5px 0 5px 7px;
	}
	.formAddLom__select{
		width: 100%;
		padding:5px 0 5px 7px;
	}
	.formAddLom__submit{
		
	}
	.formAddLom__fieldset{
		background:$bg-color-white;
		margin-bottom:10px;
	}
	.formAddLom__legend__link{
		text-decoration: none;
		&:link{
			text-decoration: none;
		}
	}
	.formAddLom__fieldset__contentFields{
		padding:10px;
	}

.formAddCourse{
	input,select{
		width: 100%;
	}
	.formAddCourse__submit{
		width: initial;
	}
}
	.formAddCourse__fieldset__contentFields{
	}
	.formAddCourse__fieldset__legend{
		width: inherit;
		font-size: 1.2em;
		font-weight: bold;
		color:$text-color-black;
		position: absolute;
    	top: 5px;
    	left: 15px;
    	text-transform: uppercase;
	}
	.formAddCourse__label{
		padding-bottom:5px;
	}
	.formAddCourse__input{
		width: 100%;
	}
	.formAddCourse__submit{
		
	}
	.formAddCourse__end{
		float: right;
	}
	.formAddCourse__fieldset{
		background:$bg-color-white;
		margin-bottom:10px;
	}
	.formAddCourse__fieldset__level2{
		padding: 42px 26px 0 26px;
	    background:$bg-color-greenLight;
	    margin-bottom: 15px;
	}
	.formAddCourse__fieldset__level2__legend{
		width: initial;
	    font-weight: bold;
	    position: absolute;
	    top: 27px;
	    left: 22px;
	    text-transform: uppercase;
	}
	.formAddCourse__fieldset__level3{
		@extend .formAddCourse__fieldset__level2;
		background:$bg-color-greenTooLight;
	}
	.formAddCourse__fieldset__level3__legend{
		@extend .formAddCourse__fieldset__level2__legend;
	}

	.formAddCourse__fieldset__legend__link{
		text-decoration: none;
		&:link{
			text-decoration: none;
		}
	}
	.formAddCourse__fieldset__contentFields{
		padding:18px;
	}
	.formAddCourse__fieldset__contentFields__label{
		margin-bottom:5px;
	}
	.formAddCourse__fieldset__contentFields__input{
		padding:5px 0 5px 7px;
	}
	.formAddCourse__fieldset__contentFields__textArea{
		min-height:75px;
		width: 100%;
		padding: 8px 7px 8px 7px;
	}
	.formAddCourse__fieldset__level2__contentFields__label{
		margin-bottom:5px;
	}
	.formAddCourse__fieldset__level2__contentFields__input{
		padding:5px 7px 5px 7px;
	}
	.formAddCourse__fieldset__contentFields__labelLoms{
		line-height: 30px;
	}
	.formAddCourse__fieldset__contentFields__btLoms{
		float: right;
	}
	.formAddCourse__fieldset__level2__contentFields{
		padding: 9px 0 0 0;
	}
	.formAddCourse__fieldset__contentFields__loms{
		background:$bg-color-white;
		padding:10px;
		max-height: 170px;
		overflow-y: scroll;
		border: 1px solid $color-gray;
    	box-shadow: 0px 0px 2px 0px #446906; //verde oscuro - negro
    	height: 170px;
	}
	.formAddCourse__fieldset__contentFields__selectLoms{
		background: $bg-color-greenLight;
		border:13px solid $color-grayTooLight;
		padding:13px;
	}
	.formAddCourse__fieldset__contentFields__selectLoms__toSelect{
		margin-bottom: 20px;
	}
	.formAddCourse__fieldset__contentFields__selectLoms__toSelect__labelSelect{
		margin-bottom:7px;
		font-weight: bold;
	}
	.formAddCourse__fieldset__contentFields__selectLoms__options{
		text-align: center;
	}
	.formAddCourse__fieldset__contentFields__selectLoms__options__add{

	}
	.formAddCourse__fieldset__contentFields__selectLoms__options__delete{

	}
	.formAddCourse__fieldset__contentFields__selectLoms__added{
		margin-top: 20px;
	}
	.formAddCourse__fieldset__contentFields__selectLoms__added__label{
		margin-bottom:7px;
		font-weight: bold;
	}
	.formAddCourse__fieldset__contentFields__loms__element{
		position:relative;
	}

	.formAddCourse__fieldset__contentFields__loms__element__link{
		display: block;
		padding:3px 0 3px 5px;
		color:$link-color-black;
		
		&.active{
			background:$bg-color-cherry;
			color:$link-color-white;
			text-decoration: none;	
		}
		&:link{
			text-decoration: none;
		}
		&:hover{
			cursor: pointer;
			text-decoration: none;
			background:$bg-color-cherryLight;
			color:$link-color-white;
		}
	}
	.formAddCourse__fieldset__contentFields__loms__element__link__link{
		display: none;
		&.active{
				display: block;
			}
	}
	
	.bbq-minus--form:before {
		color:$color-black;
		font-size: 1em;
	    vertical-align: middle;
	    padding-left: 4px;
	    padding-right: 5px;
	}
	.bbq-plus--form:before {
		color:$color-black;
		font-size: 1.5em;
    	vertical-align: middle;
	}

	.bbq-remove--lom:before {
  		color: $color-white;
	    font-size: 1em;
	    float: right;
	    position: absolute;
	    right: 7px;
	    top: 3px;
	}