

.contentHeader{
	background:$bg-color-grayDark;
    display: block;
    width: 100%;
    margin-bottom: 25px;
}
	.contentHeader__logo{
		position:relative;
		background:$bg-color-white;
		display: block;
	    text-align: center;
	    width: 100%;
	    padding-bottom: 10px;
    	padding-top: 15px;
	}
	.contentHeader__logo__link:hover,.contentHeader__logo__link:link{
		text-decoration: none;
	}
	.contentHeader__logo__image{
		width: 41px;
	}
	.bbq-logobibtloq--header:before {
  		color:$color-white;
  		font-size:2.6em;
	}
	.contentHeader_content{
		display: block;
	    vertical-align: middle;
	    width: 100%;
	}
	.contentHeader_content__options{
		
	}
	.contentHeader_content__options__element{
		display: block;
    	text-align: center;
    	&.active{
    		background:$bg-color-active-green;
    		.contentHeader_content__options__element__link{
    			text-decoration:none;
    			.contentHeader_content__options__element__link__label{
					color:$link-color-white;
				}
				span:before{
					color:$link-color-white;
				}
    		}
	    	&:hover{
		    	text-decoration: none;
		    }
    	}
	}
	.contentHeader_content__options__element__link{
		display: inline-block;
	    padding: 10px 0;
	    font-size: 1.7em;
	    &:hover{
	    	text-decoration: none;
	    	background: $link-hover-color-gray;
	    }
	}
	.contentHeader_content__options__element__link__label{
		font-size: 0.7em;
		color:$link-color-grayLight;
	}
	.contentHeader_content__profile__movil{
		position: absolute;
		top: 10px;
    	right: 10px;
    	bottom: 0px;
    	left: 197px;
    	text-align:center;
	}
	.contentHeader_content__profile__movil__content{
	    text-align: center;
	    float: right;
	}
    
	.contentHeader_content__profile__tablet{
		display: none;
	}
	.contentHeader_content__profile__movil__userName{
		color: $link-color-white;
		font-weight: bold;
		font-size: 0.9em;
	}


	.bbq-graduation-cap--header:before {
	  	vertical-align: middle;
	  	color:$color-grayLight;
	}
	.bbq-cloud--header:before {
	  vertical-align: middle;
	  color:$color-grayLight;
	}
	.bbq-book-open--header:before {
	  vertical-align: middle;
	  color:$color-grayLight;
	}
	.bbq-comment--header:before {
	  vertical-align: middle;
	  color:$color-grayLight;
	}
	.bbq-user--header--movil{
		display: block;
	}
	.bbq-user--header--movil:before {  	
	  	color:$color-white;
    	vertical-align: middle;
	    float: right;
	    font-size: 1.9em;
	    width: 100%;
	    display: inline-block;
	    padding-bottom: 5px;
	}