
.contentAdminCourses{

}
	.contentAdminCourses__contentCourses{
		background: $bg-color-graytooLight;
    	padding: 20px 20px 0 20px;
	}
	
	.contentAdminCourses__contentCourses__viewOptionsfilterSearch{
		
	}
	.contentAdminCourses__contentCourses__viewOptionsfilterSearch__filter{
	    border-radius: 5px;
	    border: 1px solid $color-grayLight;
	    padding: 5px 0 6px 7px;
    	font-size: 1em;
    	color: $text-color-gray;
	}
	.contentAdminCourses__contentCourses__viewOptionsfilterSearch__search{
		position:relative;
	}
	.contentAdminCourses__contentCourses__viewOptionsfilterSearch__search__input{
		width: 100%;
		padding:7px 0 5px 32px;
		border-radius:5px;
		border:1px solid $color-grayLight;
		&::-webkit-input-placeholder {
		    font-size: 1em;
			font-color:$text-color-gray;
		}
	}
	.contentAdminCourses__contentCourses__wrapperCourses{
		padding: 30px 0px 0px 0px;
	}

	.contentAdminCourses__contentCourses__wrapperCourses__course{
		padding: 0px 0px 32px 0px; 
	}
	.contentAdminCourses__contentCourses__wrapperCourses__course__link{
		display: block;
		background: $bg-color-white;
		border-radius:6px;
	}
	.contentAdminCourses__contentCourses__wrapperCourses__course__link__contentImage{

	}
	.contentAdminCourses__contentCourses__wrapperCourses__course__link__contentImage__image{
		width: 100%;
    	border-radius: 6px 7px 0 0;
	}
	.contentAdminCourses__contentCourses__wrapperCourses__course__link__contentTitle{
		padding: 10px;
	}
	.contentAdminCourses__contentCourses__wrapperCourses__course__link__contentTitle__name{
		text-transform: uppercase;
	    margin-bottom: 7px;
	    font-weight: bold;
	    color: $text-color-black;
	    font-size: 1.3em;
	}
	.contentAdminCourses__contentCourses__wrapperCourses__course__link__contentTitle__description{
		color: $text-color-gray;
	}
	.contentAdminCourses__contentCourses__wrapperCourses__course__link__contentInfo{
		
	}

	.bbq-list--Courses:before {
	  color:$color-grayLight2;
	  display: block;
	  font-size: 1.6em;
	  padding-top:2px;
	}
	.bbq-thumbnails--Courses:before {
	  color:$color-grayLight2;
	  display: block;
	  font-size: 1.6em;
	  padding-top:2px;
	}

	.bbq-search--Courses:before {
		color:$color-grayLight;
		position: absolute;
		top: 6px;
		left: 8px;
		font-size: 1.3em;
	}