
.contentAdminLoms{

}
	.contentAdminLoms__contentLoms{
		background: $bg-color-graytooLight;
    	padding: 20px;
	}
	.contentLoms__options{
		text-align: center;
	}
	
	.contentAdminLoms__contentLoms__viewOptionsfilterSearch{

	}
	.contentAdminLoms__contentLoms__viewOptionsfilterSearch__filter{
		font-color:$text-color-grayLight;
	    border-radius: 5px;
	    border: 1px solid $color-grayLight;
	    padding: 5px 0 6px 7px;
    	font-size: 1em;
	}
	.contentAdminLoms__contentLoms__viewOptionsfilterSearch__search{
		position:relative;
	}
	.contentAdminLoms__contentLoms__viewOptionsfilterSearch__search__input{
		width: 100%;
		padding:7px 0 5px 32px;
		border-radius:5px;
		border:1px solid $color-grayLight;
		&::-webkit-input-placeholder {
		    font-size: 1.2em;
			font-color:$text-color-gray;
		}
	}
	.contentAdminLoms__contentLoms__wrapperLoms{

	}
	.contentAdminLoms__contentLoms__list{
	
	}
	.contentAdminLoms__contentLoms__list__wrapperLom{
		padding:15px 0;
	}
	.contentAdminLoms__contentLoms__list__wrapperLom__contentLinks{
		position:relative;
		&:hover, &:link{
		    .contentAdminLoms__contentLoms__list__wrapperLom__contentLinks__linkIcon{
		    	display: block;
		    	text-decoration: none;
		    }
	    }
	}
	.contentAdminLoms__contentLoms__list__wrapperLom__contentLinks__lom{
		border:1px solid $color-grayLight;
		border-radius:3px;
		box-shadow: 3px 3px 20px -2px rgba(0,0,0,0.39);
		display: block;
		&:hover{
		    text-decoration: none;  
			box-shadow: 6px 6px 20px -2px rgba(0,0,0,0.39);
	    }
	    &:link{
		    text-decoration: none;  
	    }
	    
	}

	.contentAdminLoms__contentLoms__list__wrapperLom__contentLinks__linkIcon{
		position:absolute;
		display: none;
		top: 10px;
		&.delete{
			right: 10px;	
		}
		&.edit{
			right: 37px;	
		}
	}

	.contentAdminLoms__contentLoms__list__wrapperLom__contentLinks__lom__img{
		width: 100%;
		display: inherit;
	}
	.contentAdminLoms__contentLoms__list__wrapperLom__contentLinks__lom__info{
		padding: 7px;
		background: $bg-color-white;
		border-top:1px solid $color-grayLight;
	}
	.titleInfoLom{
		color: $text-color-black;
		font-weight: bold;
		padding-bottom:5px;
	}
	.originInfoLom{
		color: $text-color-grayLight;
	}
	.originInfoLom__user{
		color:$link-color-green;
	}
	.contentAdminLoms__contentLoms__list__wrapperLom__contentLinks__lom__info__viewsInfoLom{

	}

	
	

	.bbq-list--loms:before {
	  color:$color-grayLight2;
	  display: block;
	  font-size: 1.6em;
	  padding-top:2px;
	}
	.bbq-thumbnails--loms:before {
	  color:$color-grayLight2;
	  display: block;
	  font-size: 1.6em;
	  padding-top:2px;
	}

	.bbq-search--loms:before {
		color:$color-grayLight;
		position: absolute;
		top: 6px;
		left: 8px;
		font-size: 1.3em;
	}