
.contentAdminLoms{

}
	.contentAdminLoms__contentLoms{
		background: $bg-color-graytooLight;
    	padding: 20px;
	}
	.contentLoms__options{
		text-align: center;
	}
	
	.contentAdminLoms__contentLoms__viewOptionsfilterSearch{
		.contentSelect{
			margin-bottom:15px;
		}
	}
	.contentAdminLoms__contentLoms__viewOptionsfilterSearch__label{
		margin-bottom:5px;
	}
	.contentAdminLoms__contentLoms__viewOptionsfilterSearch__filter{
		font-color:$text-color-grayLight;
	    border-radius: 5px;
	    border: 1px solid $color-grayLight;
	    padding: 5px 0 6px 7px;
    	font-size: 1em;
    	width:100%;
	}
	.contentAdminLoms__contentLoms__viewOptionsfilterSearch__search{
		position:relative;
		top:21px;
	}
	.contentAdminLoms__contentLoms__viewOptionsfilterSearch__search__input{
		width: 100%;
		padding:7px 0 5px 32px;
		border-radius:5px;
		border:1px solid $color-grayLight;
		&::-webkit-input-placeholder {
		    font-size: 1em;
			font-color:$text-color-gray;
		}
	}
	.contentAdminLoms__contentLoms__wrapperLoms{

	}
	.contentAdminLoms__contentLoms__list{
		overflow-y: scroll;
		max-height: 680px;
		overflow-x: hidden;
		margin-top:40px;
	}
	    
	.contentAdminLoms__contentLoms__list__wrapperLom{
		padding:15px 0;
	}
	.contentAdminLoms__contentLoms__list__wrapperLom__contentLinks{
		position:relative;
		border-radius: 10px;
		&:hover, &:link{
		    .contentAdminLoms__contentLoms__list__wrapperLom__contentLinks__linkIcon{
		    	display: block;
		    	text-decoration: none;
		    }
	    }
	}
	.contentAdminLoms__contentLoms__list__wrapperLom__contentLinks__lom{
		border:1px solid $color-grayLight;
		border-radius:10px;
		box-shadow: 3px 3px 20px -2px rgba(0,0,0,0.39);
		display: block;
		&:hover{
		    text-decoration: none;  
			box-shadow: 6px 6px 20px -2px rgba(0,0,0,0.39);
	    }
	    &:link{
		    text-decoration: none;  
	    }
	    
	}

	.contentAdminLoms__contentLoms__list__wrapperLom__contentLinks__linkIcon{
		position:absolute;
		display: none;
		top: 10px;
		&.delete{
			right: 10px;	
		}
		&.edit{
			right: 37px;	
		}
	}
	.contentAdminLoms__contentLoms__list__wrapperLom__contentLinks__lom__contentImg__img{
		overflow: hidden;
		width: 100%;
		height: 140px;
		background: $bg-color-white;
		border-top-right-radius: 10px;
    	border-top-left-radius: 10px;
	}

	.contentAdminLoms__contentLoms__list__wrapperLom__contentLinks__lom__img{
		width: 100%;
		display: inherit;
		height: auto;
		min-height: 140px;
	}
	.contentAdminLoms__contentLoms__list__wrapperLom__contentLinks__lom__info{
		padding: 7px;
		background: $bg-color-white;
		border-top:1px solid $color-grayLight;
		color: $text-color-black;
		border-bottom-left-radius: 10px;
    	border-bottom-right-radius: 10px;
    	text-align: center;
	}
	.contentAdminLoms__contentLoms__list__wrapperLom__contentLinks__lom{
		.contentAdminLoms__contentLoms__list__wrapperLom__contentLinks__lom__info.infoLom{
			border-radius:0px;
		}
	}
	.titleInfoLom{
		color: $text-color-black;
		font-weight: bold;
		padding-bottom:5px;
	}
	.originInfoLom{
		color: $text-color-grayLight;
	}
	.originInfoLom__user{
		color:$link-color-green;
	}
	.contentAdminLoms__contentLoms__list__wrapperLom__contentLinks__lom__info__viewsInfoLom{
		padding: 7px;
		background: $bg-color-white;
		border-top:1px solid $color-grayLight;
		color: $text-color-black;
		border-bottom-left-radius: 10px;
    	border-bottom-right-radius: 10px;
	}

	.bbq-list--loms:before {
	  color:$color-grayLight2;
	  display: block;
	  font-size: 1.6em;
	  padding-top:2px;
	}
	.bbq-thumbnails--loms:before {
	  color:$color-grayLight2;
	  display: block;
	  font-size: 1.6em;
	  padding-top:2px;
	}

	.bbq-search--loms:before {
		color:$color-grayLight;
		position: absolute;
		top: 6px;
		left: 8px;
		font-size: 1.3em;
	}