.wrapperObjectives{

}
	.wrapperObjectives__contetObjetives{

	}
	.wrapperObjectives__contetObjetives__list{

	}
	.wrapperObjectives__contetObjetives__list__element{
		margin-bottom: 0px;
	}
	.wrapperObjectives__contetObjetives__list__element__contentImage{
		text-align: center;
		margin-bottom: 15px;
	}
	.wrapperObjectives__contetObjetives__list__element__contentImage__img{
		border-radius: 50%;
		width: 125px;
	}
	.wrapperObjectives__contetObjetives__list__element__info{
		text-align:center;
	}

	.wrapperObjectives__contetObjetives__list__element__info__title{
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom:8px;
		font-size: 1.1em;
	}
	.wrapperObjectives__contetObjetives__list__element__info__description{
	}