
.contentTotalCourses{
	margin-bottom:30px;
}

	.bbq-list--Courses:before {
	  color:$color-grayLight2;
	  display: block;
	  font-size: 1.6em;
	  padding-top:2px;
	}
	.bbq-thumbnails--Courses:before {
	  color:$color-grayLight2;
	  display: block;
	  font-size: 1.6em;
	  padding-top:2px;
	}

	.bbq-search--Courses:before {
		color:$color-grayLight;
		position: absolute;
		top: 6px;
		left: 8px;
		font-size: 1.3em;
	}

	.bbq-lessons--courses:before {
	  color: $color-gray;
	  font-size: 1em;
	  vertical-align: middle;
	}
	.bbq-sections--courses:before {
	  color: $color-gray;
	  font-size: 1em;
	  vertical-align: middle;
	}
	.bbq-students--courses:before {
	  color: $color-gray;
	  font-size: 1em;
	  vertical-align: middle;
	}
