<header class="contentHeader">
    <div class="contentHeader__logo">
        <a href="#!/" title="BBQ Home">
            <h1>
                <img class="contentHeader__logo__image" src="../../assets/images/header/logo_bbq.png">
            </h1>
        </a>
    </div>
    <div class="contentHeader_content">
        <nav>
            <ul class="contentHeader_content__options">
                <li class="contentHeader_content__options__element" ng-class="{ active : isActive('/courses') }"><a class="contentHeader_content__options__element__link" ng-href="#!/courses" title="Cursos">
                <span class="bbq-graduation-cap bbq-graduation-cap--header"></span>
                <span class="contentHeader_content__options__element__link__label">Cursos</span>
                </a></li>
                <li class="contentHeader_content__options__element" ng-class="{ active : isActive('/loms') }"><a class="contentHeader_content__options__element__link" ng-href="#!/loms" title="Recursos">
                <span class="bbq-cloud bbq-cloud--header"></span>
                <span class="contentHeader_content__options__element__link__label">Recursos</span>
                </a></li>
                <li class="contentHeader_content__options__element" ng-class="{ active : isActive('/students') }"><a class="contentHeader_content__options__element__link" ng-href="#!/students" title="Aprende">
                <span class="bbq-book-open bbq-book-open--header"></span>
                <span class="contentHeader_content__options__element__link__label">Aprende</span>
                </a></li>
                <li class="contentHeader_content__options__element" ng-class="{ active : isActive('/login') }"><a class="contentHeader_content__options__element__link" ng-href="#!/login" title="Foro">
                <span class="bbq-comment bbq-comment--header"></span>
                <span class="contentHeader_content__options__element__link__label">Foro</span>
                </a></li>
            </ul>
       </nav>
        <a class="contentHeader_content__profile" href="#" title="User">
            <span class="bbq-user bbq-user--header"></span>
        </a>
    </div>
</header>

                   