<header class="contentHeader">
    <div class="contentHeader__logo">
        <a class="contentHeader__logo__link" ng-click="changeInit(true)" href="#!/" title="botbloq Home">

                <img class="wrapperCourse__header__contentImg__img" src="../../logo_botbloq.png">
                <!-- <span class="bbq-logobibtloq bbq-logobibtloq--header"></span> -->
        </a>
        <a class="contentHeader_content__profile__movil" href="#" title="{{nameActiveUser}}">
            <div class="contentHeader_content__profile__movil__content">
                <span class="bbq-user bbq-user--header--movil"></span>           
                <span class="contentHeader_content__profile__movil__userName">{{activeUserHeader.identification.name}}</span>
				<span class="contentHeader_content__profile__movil__userName">({{activeUserHeader.learningStyle.type}})</span>     				
            </div>
        </a>
    </div>
    <!-- CABECERA PROFESOR -->
     <div ng-if="activeUserHeader.teacher" class="contentHeader_content">
        <nav>
            <ul class="contentHeader_content__options">
                <li class="contentHeader_content__options__element" ng-class="{ active : isActive('/teacher') }"><a class="contentHeader_content__options__element__link"  
                ng-href="#!/teacher" title="Cursos">

                <span class="bbq-graduation-cap bbq-graduation-cap--header"></span>
                <span class="contentHeader_content__options__element__link__label">Cursos</span>
                </a></li>
            </ul>
       </nav>
        <a class="contentHeader_content__profile__tablet" href="#" title="{{nameActiveUser}}">    <span class="contentHeader_content__profile__tablet__userName">
                {{activeUserHeader.identification.name}}
            </span> 
            <span class="bbq-user bbq-user--header--tablet"></span>                    
        </a>
    </div>
    <!-- CABECERA ESTUDIANTE -->
    <div  ng-if="!activeUserHeader.teacher" class="contentHeader_content">
        <nav>
            <ul class="contentHeader_content__options">

                <li  class="contentHeader_content__options__element" ng-class="{ active : isActive('/courses') }"><a class="contentHeader_content__options__element__link"  
                ng-click="showTotalCourses('totalCoursesPage')" ng-href="#!/courses" title="Cursos">


                <span class="bbq-graduation-cap bbq-graduation-cap--header"></span>
                <span class="contentHeader_content__options__element__link__label">Cursos</span>
                </a></li>
            </ul>
       </nav>
        <a class="contentHeader_content__profile__tablet" href="#" title="{{nameActiveUser}}">    <span class="contentHeader_content__profile__tablet__userName">
                {{activeUserHeader.identification.name}}
				({{activeUserHeader.learningStyle.type}})
            </span> 
           <!-- <span class="bbq-user bbq-user--header--tablet"></span>  -->                
        </a>
    </div>
</header>

                   