<header class="contentHeader">
    <div class="contentHeader__logo">
        <img class="contentHeader__logo__image" src="http://lorempixel.com/23/23/animals/">
    </div>
    <div class="contentHeader_content">
        <ul class="contentHeader_content__options">
            <li class="contentHeader_content__options__element"><a class="contentHeader_content__options__element__link" href="#" title="Cursos">
            <span class="bbq-graduation-cap bbq-graduation-cap--header"></span>
            <span class="contentHeader_content__options__element__link__label">Cursos</span>
            </a></li>
            <li class="contentHeader_content__options__element"><a class="contentHeader_content__options__element__link" href="#" title="Recursos">
            <span class="bbq-cloud bbq-cloud--header"></span>
            <span class="contentHeader_content__options__element__link__label">Recursos</span>
            </a></li>
            <li class="contentHeader_content__options__element"><a class="contentHeader_content__options__element__link" href="#" title="Aprende">
            <span class="bbq-book-open bbq-book-open--header"></span>
            <span class="contentHeader_content__options__element__link__label">Aprende</span>
            </a></li>
            <li class="contentHeader_content__options__element"><a class="contentHeader_content__options__element__link" href="#" title="Foro">
            <span class="bbq-comment bbq-comment--header"></span>
            <span class="contentHeader_content__options__element__link__label">Foro</span>
            </a></li>
        </ul>
        <a class="contentHeader_content__profile" href="#" title="User">
            <span class="bbq-user bbq-user--header"></span>
        </a>
    </div>
</header>