<div class="formAddCourse__fieldset__contentFields addNewLesson" ng-show="showFieldsSectionsLesson">
	<div class="row">
		<div class="col-xs-12 col-sm-6 mb15">
			<div class="row">
				<div class="col-xs-12 col-sm-3">
					<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_name">Nombre</label>	
				</div>
				<div class="col-xs-12 col-sm-9">
					<input class="formAddCourse__fieldset__contentFields__input" ng-model="lesson.name" type="text" id="sections_lesson_name" name="sections_lesson_name">		
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 mb15">
			<div class="row">
				<div class="col-xs-12 col-sm-3">
					<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_type">Tipo</label>
				</div>
				<div class="col-xs-12 col-sm-9">
					<select class="formAddCourse__fieldset__contentFields__input" ng-model="lesson.type" id="sections_lesson_type" type="text" name="sections_lesson_type">
					  	<option value="" disabled>Selecciona</option>
					  	<option value="Essential">Básica</option>
						<option value="Reinforcement">Refuerzo</option>
						<option value="Extension">Ampliación</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 mb15">
			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_title">Titulo</label>
				</div>
				<div class="col-xs-12 col-sm-12">
					<input class="formAddCourse__fieldset__contentFields__input" ng-model="lesson.title" type="text" id="sections_lesson_title" name="sections_lesson_title">
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 mb15">
				<div class="row" >
					<div class="col-xs-12 col-sm-12">
						<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_learningPath">Siguientes Lecciones <span class="formAddCourse__fieldset__contentFields__label__annotation small"> *(Números separados por comas)</span></label>
					</div>
					<div class="col-xs-12 col-sm-12">
						<input class="formAddCourse__fieldset__contentFields__input" ng-model="lesson.learningPath" type="text" id="sections_lesson_learningPath" name="sections_lesson_learningPath">
					</div>
				</div>
		</div>
		
		<div class="col-xs-12 col-sm-6 mb15">
			<div class="row">
				<div class="col-xs-12 col-sm-3">
					<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_difficulty">Dificultad</label>
				</div>
				<div class="col-xs-12 col-sm-9">	
					<select class="formAddCourse__fieldset__contentFields__input" ng-model="lesson.difficulty" id="sections_lesson_difficulty" type="number" name="sections_lesson_difficulty">
						<option value="" disabled>Selecciona</option>
						<option value="0">0 - Básica</option>
						<option value="1">1 - Media</option>
						<option value="2">2 - Avanzada</option>
					</select>	
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 mb15">
			<div class="row">
				<div class="col-xs-12 col-sm-3">
					<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_photo">Imagen</label>
				</div>
				<div class="col-xs-12 col-sm-9">
					<input class="formAddCourse__fieldset__contentFields__input" ng-model="lesson.photo" id="sections_lesson_photo" type="text" name="sections_lesson_photo"/>		
				</div>
			</div>
		</div>
		<div class="col-xs-12 mb15">
			<div class="row">
				<div class="col-xs-12">
					<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_description">Descripción</label>
				</div>
				<div class="col-xs-12">
					<textarea class="formAddCourse__fieldset__contentFields__textArea" ng-model="lesson.description" type="text" id="sections_lesson_description" name="sections_lesson_description"></textarea>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 mb15">
			<div class="row">
				<div class="col-xs-4 col-sm-3">
					<label class="formAddCourse__fieldset__contentFields__labelLoms" for="sections_lesson_name">Loms</label>	
				</div>
				<div class="col-xs-8 col-sm-4">
					<button class="btnBq--style1 formAddCourse__fieldset__contentFields__btLoms" ng-click="showSelectLoms=!showSelectLoms" ng-hide="showSelectLoms" type="button">Seleccionar loms</button>	
					<button class="btnBq--style1 formAddCourse__fieldset__contentFields__btLoms" ng-click="showSelectLoms=!showSelectLoms" ng-show="showSelectLoms" type="button">Ocultar loms</button>		
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="contentAddItem__wrapperAddItem__level2" ng-show="showSelectLoms"> -->
		<div class="formAddCourse__fieldset__contentFields__selectLoms" ng-show="showSelectLoms">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<div class="formAddCourse__fieldset__contentFields__selectLoms__toSelect">
						<div class="contentRow">
							<div class="row">
								<div class="col-xs-12 col-lg-5">
									<p class="formAddCourse__fieldset__contentFields__selectLoms__toSelect__labelSelect" for="sections_name">Seleccionar</p>
								</div>
								<div class="col-xs-12 col-lg-7">
									<input class="formAddCourse__fieldset__contentFields__selectLoms__searchLom" type="text" ng-model="searchLom" placeholder="Buscar Lom ...">
								</div>
							</div>	
						</div>
						<ul class="formAddCourse__fieldset__contentFields__loms">
							<li class="formAddCourse__fieldset__contentFields__loms__element" ng-repeat="i in loms |filter:searchLom" ng-init="selected=false">
								<span ng-if="loms.length < 1"> No existen Loms disponibles</span>
								<a ng-click="selected= !selected ; selectLomsToAddToLessonCreate(selected,i,$parent.$index,section.lessons.length)" class="formAddCourse__fieldset__contentFields__loms__element__link" ng-class="{active:selected}" id="create_{{$index}}" href>{{i.general.title}}</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4">
					<div class="row">
						<div class="formAddCourse__fieldset__contentFields__selectLoms__options">
							<div class="col-xs-6 col-sm-12">
								<div class="formAddCourse__fieldset__contentFields__selectLoms__options__add clearfix">
								 	<button class="btnBq--style1" ng-click="addLomsToListAdd($event)">Añadir</button>
								</div>
							</div>
							<div class="col-xs-6 col-sm-12">
								<div class="formAddCourse__fieldset__contentFields__selectLoms__options__delete clearfix">
							 		<button class="btnBq--style1" ng-click="removeLomsFromListAdd($event)">Eliminar</button>
								</div>
							</div>		
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4">
					<div class="formAddCourse__fieldset__contentFields__selectLoms__added">
						<div class="contentRow">
							<div class="row">
								<div class="col-xs-12 col-lg-5">
									<p class="formAddCourse__fieldset__contentFields__selectLoms__added__label" for="sections_summary">Añadidos</p>
								</div>
								<div class="col-xs-12 col-lg-7">
									<input class="formAddCourse__fieldset__contentFields__selectLoms__searchLom" type="text" ng-model="searchLomsSelected" placeholder="Buscar Lom ...">
								</div>
							</div>	
						</div>
						<ul class="formAddCourse__fieldset__contentFields__loms">
							<li class="formAddCourse__fieldset__contentFields__loms__element" ng-repeat="i in lomsToAdd | filter:searchLomsSelected" ng-init="selected=false">
								<a ng-click="selected= !selected; selectLomsToDeleteFromLessonCreate(selected,i,$parent.$index,section.lessons.length)" class="formAddCourse__fieldset__contentFields__loms__element__link" ng-class="{active:selected}" id="create_{{$index}}" href>
									{{i.general.title}}
									<a ng-class="{active:selected}" class="formAddCourse__fieldset__contentFields__loms__element__link__link" ng-click="removeLomFromListAdd(i)" href><span class="bbq-remove bbq-remove--lom" title="Eliminar lom"></span></a>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div> 
	<!--</div>--> 
	<!-- <ng-include src=" 'views/modules/addObjLesson.html' "></ng-include> -->
</div>