<div class="formAddCourse__fieldset__contentFields addNewLesson" >
	<div class="row">
		<div class="col-xs-12 col-sm-6 mb15">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_name">Nombre</label>	
				</div>
				<div class="col-xs-12 col-sm-6">
					<input class="formAddCourse__fieldset__contentFields__input" ng-model="lessonN.name" type="text" id="sections_lesson_name" name="sections_lesson_name">		
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 mb15">
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-3">
					<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_summary">Resumen</label>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-9">
					<textarea class="formAddCourse__fieldset__contentFields__textArea" ng-model="lessonN.summary" type="text" id="sections_lesson_summary" name="sections_lesson_summary"></textarea>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 mb15">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_name">Descripción</label>	
				</div>
				<div class="col-xs-12 col-sm-6">
					<input class="formAddCourse__fieldset__contentFields__input" ng-model="lessonN.description" type="text" id="sections_lesson_desc" name="sections_lesson_desc">		
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 mb15">
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-3">
					<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_summary">Imagen</label>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-9">
					<input class="formAddCourse__fieldset__contentFields__textArea" ng-model="lessonN.photo" type="text" id="sections_lesson_photo" name="sections_lesson_photo">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
			<div class="col-xs-12 col-sm-6 mb15">
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_type">Tipo</label>
					</div>
					<div class="col-xs-12 col-sm-6">
						<select class="formAddCourse__fieldset__contentFields__input" 
						ng-model="lessonN.type"  ng-init="lessonN.type = 'Essential'"
						id="sections_lesson_type" type="text" name="sections_lesson_type">
						  	<option value="Essential">Básica</option>
							<option value="Reinforcement">Refuerzo</option>
							<option value="Extension">Ampliación</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 mb15">
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_learningPath">Dificultad</label>
					</div>
					<div class="col-xs-12 col-sm-6">
						<input class="formAddCourse__fieldset__contentFields__input" ng-model="lessonN.difficulty" TYPE="RANGE" MIN="0" MAX="3" STEP="1" VALUE="0" id="sections_lesson_difficulty" name="sections_lesson_difficulty">
					</div>
				</div>
			</div>
			
	</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 mb15">
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_learningPath">Siguientes Lecciones</label>
					</div>
					<div class="col-xs-12 col-sm-6">
						<input class="formAddCourse__fieldset__contentFields__input" ng-model="lessonN.learning_path" type="text" id="sections_lesson_learningPath" name="sections_lesson_learningPath">
						<label class="contentCourses__wrapperCourses__course__link__contentTitle__description">(números separados por comas)</label>
						
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 mb15">
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_type">Enlace</label>
					</div>
					<div class="col-xs-12 col-sm-6">
						<input class="formAddCourse__fieldset__contentFields__textArea" ng-model="lessonN.loms[0].lom_id" type="text" id="sections_lesson_lom" name="sections_lesson_lom">
					</div>
				</div>
			</div>
	</div>		
</div>