


<div class="contentAddItem clearfix">
	<div class="contentAddItem__wrapperAddItem__level2">
		<button class="btnBq--style1" ng-click="showNewObjective()" ng-hide="newObjective" type="button">Nuevo Objetivo</button>
		<!-- <button ng-click="addObjectives()">Fin</button> -->
		<div ng-show="newObjective">
			<ng-include src=" 'views/modules/objCourse.html' "></ng-include>
			<button class="btnBq--style1" ng-click="addNewObjective(1)" type="button">Añadir Objetivo</button>
		</div>
	</div>

</div>
