
	

		<fieldset class="formAddCourse__fieldset">
    		<legend class="formAddCourse__fieldset__legend"> 
        		<!-- Lecciones -->
    		</legend>
			<div class="formAddCourse__fieldset__contentFields">
				<ul>
	        		<li ng-repeat="lesson in section.lessons" ng-init="visible = false"">
								<fieldset class="formAddLom__fieldset pdb20">
			        		<legend class="formAddLom__fieldset__legend"> 
				        		<a class="formAddLom__fieldset__legend__link" ng-click="visible= !visible" href><span ng-class="{'bbq-minus bbq-minus--form':visible, 'bbq-plus bbq-plus--form': !visible}"></span></a>
				        		Lección {{$index+1}}
			        		</legend>
										<div class="formAddCourse__fieldset__contentFields" ng-show="visible">
										<div class="row">
											<div class="col-xs-12 col-sm-4">
												<div class="row">
													<div class="col-xs-12 col-sm-6">
														<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_name">Nombre</label>	
													</div>
													<div class="col-xs-12 col-sm-8">
														<input class="formAddCourse__fieldset__contentFields__input" ng-model="lesson.name" type="text" id="sections_lesson_name" name="sections_lesson_name">		
													</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-8">
												<div class="row">
													<div class="col-xs-12 col-sm-4 col-md-3">
														<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_summary">Título</label>
													</div>
													<div class="col-xs-12 col-sm-12">
														<input class="formAddCourse__fieldset__contentFields__input" ng-model="lesson.title" type="text" id="sections_lesson_summary" name="sections_lesson_summary"></textarea>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-4">
												<div class="row">
													<div class="col-xs-12 col-sm-6">
														<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_type">Tipo</label>
													</div>
													<div class="col-xs-12 col-sm-8">
														<select class="formAddCourse__fieldset__contentFields__input" 
														ng-model="lesson.type" id="sections_lesson_type" type="text" name="sections_lesson_type">
														  	<option value="Essential">Básica</option>
															<option value="Reinforcement">Refuerzo</option>
															<option value="Extension">Ampliación</option>
														</select>
													</div>
													
												</div>
											</div>
											<div class="col-xs-12 col-sm-8">
												<div class="row">
													<div class="col-xs-12 col-sm-4 col-md-3">
														<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_summary">Imagen</label>
													</div>
													<div class="col-xs-12 col-sm-12">
														<input class="formAddCourse__fieldset__contentFields__input" ng-model="lesson.photo" type="text" id="sections_lesson_photo" name="sections_lesson_photo">
													</div>
												</div>
											</div>
										</div>
										<div class="row">
												
												<div class="col-xs-12 col-sm-16">
													<div class="row">
														<div class="col-xs-12 col-sm-6">
															<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_name">Descripción</label>	
														</div>
														<div class="col-xs-12 col-sm-16">
															<textarea class="formAddCourse__fieldset__contentFields__textArea" ng-model="lesson.description" type="text" id="sections_lesson_desc" name="sections_lesson_desc"></textarea>		
														</div>
													</div>
												</div>
												
												
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-6">
												<div class="row">
													<div class="col-xs-12 col-sm-6">
														<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_learningPath">Dificultad</label>
													</div>
													<div class="col-xs-12 col-sm-8">
														<input class="formAddCourse__fieldset__contentFields__input" ng-model="lesson.difficulty" TYPE="RANGE" MIN="0" MAX="3" STEP="1" VALUE="0" id="sections_lesson_difficulty" name="sections_lesson_difficulty">
													</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6">
												<div class="row">
													<div class="col-xs-12 col-sm-6">
														<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_learningPath">Siguientes Lecciones</label>
													</div>
													<div class="col-xs-12 col-sm-12">
														<input class="formAddCourse__fieldset__contentFields__input" ng-model="lesson.learning_path" type="text" id="sections_lesson_learningPath" name="sections_lesson_learningPath"  >
														<label class="contentCourses__wrapperCourses__course__link__contentTitle__description">(números separados por comas)</label>
													</div>
												</div>
											</div>
											
										</div>		
								</fieldset>	
	        		</li>
	        	</ul>	
	        	<div class="contentAddItem__wrapperAddItem mb15 bgWhite">
					<button class="btnBq--style1" ng-init="newLesson=false" ng-click="newLesson= !newLesson" ng-hide="newLesson" type="button">Nueva Lección</button>
					<!-- <button ng-click="addObjectives()">Fin</button> -->
					<div ng-show="newLesson">
						<div class="formAddCourse__fieldset__contentFields addNewLesson" >
							<div class="row">
								<div class="col-xs-12 col-sm-4">
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_name">Nombre</label>	
										</div>
										<div class="col-xs-12 col-sm-8">
											<input class="formAddCourse__fieldset__contentFields__input" ng-model="lessonN.name" type="text" id="sections_lesson_name" name="sections_lesson_name">		
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-8">
									<div class="row">
										<div class="col-xs-12 col-sm-4 col-md-3">
											<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_summary">Título</label>
										</div>
										<div class="col-xs-12 col-sm-12">
											<input class="formAddCourse__fieldset__contentFields__input" ng-model="lessonN.title" type="text" id="sections_lesson_summary" name="sections_lesson_summary">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-4">
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_type">Tipo</label>
										</div>
										<div class="col-xs-12 col-sm-8">
											<select class="formAddCourse__fieldset__contentFields__input" 
											ng-model="lessonN.type" ng-init="lessonN.type = 'Essential'"
											id="sections_lesson_type" type="text" name="sections_lesson_type" value="Essential">
											  	<option value="Essential">Básica</option>
												<option value="Reinforcement">Refuerzo</option>
												<option value="Extension">Ampliación</option>
											</select>
										</div>
									</div>
								</div>
								
								<div class="col-xs-12 col-sm-8">
									<div class="row">
										<div class="col-xs-12 col-sm-4 col-md-3">
											<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_summary">Imagen</label>
										</div>
										<div class="col-xs-12 col-sm-12">
											<input class="formAddCourse__fieldset__contentFields__input" ng-model="lessonN.photo" type="text" id="sections_lesson_photo" name="sections_lesson_photo">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-16">
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_name">Descripción</label>	
										</div>
										<div class="col-xs-12 col-sm-16">
											<textarea class="formAddCourse__fieldset__contentFields__textArea" ng-model="lessonN.description" type="text" id="sections_lesson_desc" name="sections_lesson_desc"></textarea>		
										</div>
									</div>
								</div>
									
									
							</div>



							<div class="row">
								<div class="col-xs-12 col-sm-6">
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_learningPath">Dificultad</label>
										</div>
										<div class="col-xs-12 col-sm-8">
											<input class="formAddCourse__fieldset__contentFields__input" ng-model="lessonN.difficulty" TYPE="RANGE" MIN="0" MAX="3" STEP="1" VALUE="0" id="sections_lesson_difficulty" name="sections_lesson_difficulty">
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 mb15">
										<div class="row">
											<div class="col-xs-12 col-sm-6">
												<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_learningPath">Siguientes Lecciones</label>
											</div>
											<div class="col-xs-12 col-sm-12">
												<input class="formAddCourse__fieldset__contentFields__input" ng-model="lessonN.learningpath" type="text" id="sections_lesson_learningPath" name="sections_lesson_learningPath">
												<label class="contentCourses__wrapperCourses__course__link__contentTitle__description">(números separados por comas)</label>
											</div>
										</div>
								</div>

							</div>
								<div class="row">
									<div class="col-xs-12 col-sm-12 ">
										<div class="row">
											<div class="col-xs-12 col-sm-6">
												<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_type">Enlace</label>
											</div>
											<div class="col-xs-12 col-sm-12">
												<input class="formAddCourse__fieldset__contentFields__input" ng-model="lessonN.lom_url" type="text" id="sections_lesson_lom" name="sections_lesson_lom">
											</div>
										</div>
									</div>
							</div>		
						</div>


						<!-- <ng-include src=" 'views/modules/addNewLesson.html' "></ng-include>-->
						<button class="btnBq--style1 mt13" ng-click="addLessonEdit(section.name, lessonN);newLesson= !newLesson" type="button">Añadir Lección</button>
						<button class="btnBq--style1" ng-click="newLesson= !newLesson" ng-show="newLesson" type="button">Ocultar</button>
					</div>
				</div>						
			</div>
		</fieldset> 
	


