
<fieldset class="formAddLom__fieldset">
	<legend class="formAddLom__fieldset__legend"> 
		<a class="formAddLom__fieldset__legend__link" ng-init="objVisible= false" ng-click="objVisible= !objVisible" href><span ng-class="{'bbq-minus bbq-minus--form':objVisible, 'bbq-plus bbq-plus--form': !objVisible}"></span></a>
		Objetivo {{$index+1}}
	</legend>
	<div class="formAddLom__fieldset__contentFields space" ng-show="objVisible">
		<div class="row">
			<div class="col-xs-12 col-sm-6 mb15">
				<div class="row">
	
					<div class="col-xs-12 col-sm-3">
						<label class="formAddCourse__fieldset__level2__contentFields__label" for="objectives_code">Código</label>	
					</div>
					<div class="col-xs-12 col-sm-9">
						<input class="formAddCourse__fieldset__level2__contentFields__input" ng-model="obj.code" type="text" id="objectives_code" name="objectives_code">		
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 mb15">
				<div class="row">
					<div class="col-xs-12 col-sm-3">
						<label class="formAddCourse__fieldset__level2__contentFields__label" for="objectives_bloom">Tipo</label>
					</div>
					<div class="col-xs-12 col-sm-9">
						<select class="formAddCourse__fieldset__level2__contentFields__input" ng-model="obj.bloom" id="objectives_bloom" type="text" name="objectives_bloom">
					  	  <option value="knowledge">Conocimiento</option>
					  	  <option value="comprehension">Comprensión</option>
		                  <option value="application">Aplicación</option>
		                  <option value="analysis">Análisis</option>
		                  <option value="sintehsis">Síntesis</option>
		                  <option value="evaluation">Evaluación</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 mb15">
				<div class="row">
					<div class="col-xs-12 col-sm-3">
						<label class="formAddCourse__fieldset__level2__contentFields__label" for="objectives_level">Nivel</label>
					</div>
					<div class="col-xs-12 col-sm-9">
						<input class="formAddCourse__fieldset__level2__contentFields__input" ng-model="obj.level" type="number" id="objectives_level" name="objectives_level">
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-12 mb15">
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-12">
						<label class="formAddCourse__fieldset__level2__contentFields__label" for="objectives_description">Descripción</label>
					</div>
					<div class="col-xs-12 col-sm-8 col-md-12">
						<textarea class="formAddCourse__fieldset__contentFields__textArea" ng-model="obj.description" type="text" id="objectives_description" name="objectives_description"></textarea>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<a ng-click="removeObj(obj,section,lesson,$event)" href title="Eliminar Objetivo"><span class="bbq-remove bbq-remove--obj"></span></a>
</fieldset>
	        		