<div class="contentAddItem__wrapperAddItem__level2">
	<button class="btnBq--style1" ng-click="showEditSections= !showEditSections" ng-hide="showEditSections" type="button">Mostrar Secciones</button>
	<div ng-show="showEditSections">
		<fieldset class="formAddCourse__fieldset__level2">
			<legend class="formAddCourse__fieldset__level2__legend"> 
	    		<!-- <a class="formAddCourse__fieldset__legend__link" ng-click="showHideFields(2)" href><span ng-class="{'bbq-minus bbq-minus--form':showFieldsObjectives, 'bbq-plus bbq-plus--form': !showFieldsObjectives}"></span></a> -->
	    		Secciones
			</legend>
			<div class="formAddCourse__fieldset__level2__contentFields" ng-show="showFieldsObjectives">
				<ul>
    				<li ng-repeat="section in sectionsSelected" ng-init="visible = false">
    					<fieldset class="formAddLom__fieldset pdb10">
			        		<legend class="formAddLom__fieldset__legend"> 
				        		<a class="formAddLom__fieldset__legend__link" ng-click="visible= !visible" href><span ng-class="{'bbq-minus bbq-minus--form':visible, 'bbq-plus bbq-plus--form': !visible}"></span></a>
				        		Section {{$index+1}}
			        		</legend>
							<div class="formAddLom__fieldset__contentFields" ng-show="visible">
								<div class="row">
									<div class="col-xs-12 col-sm-6 mb15">
										<div class="row">
											<div class="col-xs-12 col-sm-6">
												<label class="formAddCourse__fieldset__contentFields__label" for="sections_name">Name</label>
											</div>
											<div class="col-xs-12 col-sm-6">
												<input class="formAddCourse__fieldset__contentFields__input" ng-model="section.name" type="text" id="sections_name" name="sections_name"/>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 mb15">
										<div class="row">
											<div class="col-xs-12 col-sm-6">
												 <label class="formAddCourse__fieldset__contentFields__label" for="sections_summary">Summary</label>
											</div>
											<div class="col-xs-12 col-sm-6">
												<input class="formAddCourse__fieldset__contentFields__input" ng-model="section.summary" type="text" id="sections_summary" name="sections_summary"/>
											</div>
										</div>
									</div>
								</div>	
								<ng-include src=" 'views/modules/editObjectivesSection.html' "></ng-include>
								<ng-include src=" 'views/modules/editLessons.html' "></ng-include>		
							</div>
							<button ng-show="visible" class="btnBq--style2 edit">Guardar Sección</button>
        				</fieldset>
    				</li>
    			</ul>							
			</div>
		</fieldset> 
		<button class="btnBq--style1" ng-click="showEditSections= !showEditSections" type="button">Ocultar Secciones</button>
	</div>
</div>