
<fieldset class="formAddLom__fieldset">
	<legend class="formAddLom__fieldset__legend"> 
		<a class="formAddLom__fieldset__legend__link" ng-init="objVisible= false" ng-click="objVisible= !objVisible" href><span ng-class="{'bbq-minus bbq-minus--form':objVisible, 'bbq-plus bbq-plus--form': !objVisible}"></span></a>
		Objetivo {{$index+1}}
	</legend>
	<div class="formAddLom__fieldset__contentFields" ng-show="objVisible">
		<div class="row">
			<div class="col-xs-12 col-sm-6 mb15">
				<div class="row">
	
					<div class="col-xs-12 col-sm-6">
						<label class="formAddCourse__fieldset__level2__contentFields__label" for="objectives_code">Code</label>	
					</div>
					<div class="col-xs-12 col-sm-6">
						<input class="formAddCourse__fieldset__level2__contentFields__input" ng-model="obj.code" type="text" id="objectives_code" name="objectives_code">		
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 mb15">
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-3">
						<label class="formAddCourse__fieldset__level2__contentFields__label" for="objectives_description">Description</label>
					</div>
					<div class="col-xs-12 col-sm-8 col-md-9">
						<textarea class="formAddCourse__fieldset__contentFields__textArea" ng-model="obj.description" type="text" id="objectives_description" name="objectives_description"></textarea>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-6 mb15">
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<label class="formAddCourse__fieldset__level2__contentFields__label" for="objectives_level">Level</label>
					</div>
					<div class="col-xs-12 col-sm-6">
						<input class="formAddCourse__fieldset__level2__contentFields__input" ng-model="obj.level" type="number" id="objectives_level" name="objectives_level">
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 mb15">
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<label class="formAddCourse__fieldset__level2__contentFields__label" for="objectives_bloom">Type</label>
					</div>
					<div class="col-xs-12 col-sm-6">
						<select class="formAddCourse__fieldset__level2__contentFields__input" ng-model="obj.bloom" id="objectives_bloom" type="text" name="objectives_bloom">
					  	  <option>knowledge</option>
					  	  <option>comprehension</option>
		                  <option>application</option>
		                  <option>analysis</option>
		                  <option>sintehsis</option>
		                  <option>evaluation</option>
						</select>
					</div>
				</div>
			</div>
		</div>	
	</div>
</fieldset>
	        		