<div class="contentAddItem__wrapperAddItem__level2">
	
	<div>
		<fieldset class="formAddCourse__fieldset__level2">
    		<legend class="formAddCourse__fieldset__level2__legend"> 
        		<!-- Lecciones -->
    		</legend>
			<div class="formAddCourse__fieldset__level2__contentFields">
				<ul>
	        		<li ng-repeat="lesson in section.lessons" ng-init="visible = false"">
								<fieldset class="formAddLom__fieldset pdb20">
			        		<legend class="formAddLom__fieldset__legend"> 
				        		<a class="formAddLom__fieldset__legend__link" ng-click="visible= !visible" href><span ng-class="{'bbq-minus bbq-minus--form':visible, 'bbq-plus bbq-plus--form': !visible}"></span></a>
				        		Lección {{$index+1}}
			        		</legend>
										<div class="formAddCourse__fieldset__contentFields" ng-show="visible">
										<div class="row">
											<div class="col-xs-12 col-sm-6 mb15">
												<div class="row">
													<div class="col-xs-12 col-sm-6">
														<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_name">Nombre</label>	
													</div>
													<div class="col-xs-12 col-sm-6">
														<input class="formAddCourse__fieldset__contentFields__input" ng-model="lesson.name" type="text" id="sections_lesson_name" name="sections_lesson_name">		
													</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 mb15">
												<div class="row">
													<div class="col-xs-12 col-sm-4 col-md-3">
														<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_summary">Resumen</label>
													</div>
													<div class="col-xs-12 col-sm-8 col-md-9">
														<textarea class="formAddCourse__fieldset__contentFields__textArea" ng-model="lesson.summary" type="text" id="sections_lesson_summary" name="sections_lesson_summary"></textarea>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-6 mb15">
												<div class="row">
													<div class="col-xs-12 col-sm-6">
														<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_name">Descripción</label>	
													</div>
													<div class="col-xs-12 col-sm-6">
														<input class="formAddCourse__fieldset__contentFields__input" ng-model="lesson.description" type="text" id="sections_lesson_desc" name="sections_lesson_desc">		
													</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 mb15">
												<div class="row">
													<div class="col-xs-12 col-sm-4 col-md-3">
														<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_summary">Imagen</label>
													</div>
													<div class="col-xs-12 col-sm-8 col-md-9">
														<input class="formAddCourse__fieldset__contentFields__textArea" ng-model="lesson.photo" type="text" id="sections_lesson_photo" name="sections_lesson_photo">
													</div>
												</div>
											</div>
										</div>
										<div class="row">
												<div class="col-xs-12 col-sm-6 mb15">
													<div class="row">
														<div class="col-xs-12 col-sm-6">
															<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_type">Tipo</label>
														</div>
														<div class="col-xs-12 col-sm-6">
															<select class="formAddCourse__fieldset__contentFields__input" ng-model="lesson.type" id="sections_lesson_type" type="text" name="sections_lesson_type">
															  	<option value="Essential">Básica</option>
																<option value="Reinforcement">Refuerzo</option>
																<option value="Extension">Ampliación</option>
															</select>
														</div>
													</div>
												</div>
												<div class="col-xs-12 col-sm-6 mb15">
													<div class="row">
														<div class="col-xs-12 col-sm-6">
															<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_learningPath">Dificultad</label>
														</div>
														<div class="col-xs-12 col-sm-6">
															<input class="formAddCourse__fieldset__contentFields__input" ng-model="lesson.difficulty" TYPE="RANGE" MIN="0" MAX="10" STEP="2" VALUE="0" id="sections_lesson_difficulty" name="sections_lesson_difficulty">
														</div>
													</div>
												</div>
												
										</div>
											<div class="row">
												<div class="col-xs-12 col-sm-6 mb15">
													<div class="row">
														<div class="col-xs-12 col-sm-6">
															<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_learningPath">Siguientes Lecciones</label>
														</div>
														<div class="col-xs-12 col-sm-6">
															<input class="formAddCourse__fieldset__contentFields__input" ng-model="lesson.learning_path" type="text" id="sections_lesson_learningPath" name="sections_lesson_learningPath">
														</div>
													</div>
												</div>
												<div class="col-xs-12 col-sm-6 mb15">
													<div class="row">
													<!--	<div class="col-xs-12 col-sm-6">
															<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_type">Enlace</label>
														</div>
														<div class="col-xs-12 col-sm-6">
															<input class="formAddCourse__fieldset__contentFields__textArea" ng-model="lesson.loms[0].lom_id" type="text" id="sections_lesson_lom" name="sections_lesson_lom">
														</div>
													-->
													</div>
												</div>
										</div>		
									<!--
										<div class="row">
											<div class="col-xs-12 col-sm-12 mb15">
												<div class="row">
													<div class="col-xs-4 col-sm-3">
														<label class="formAddCourse__fieldset__contentFields__labelLoms" for="sections_lesson_name">Loms</label>	
													</div>
													<div class="col-xs-8 col-sm-4">
														<button class="btnBq--style1 formAddCourse__fieldset__contentFields__btLoms" ng-click="showSelectLoms=!showSelectLoms" ng-hide="showSelectLoms" type="button">Seleccionar loms</button>	
														<button class="btnBq--style1 formAddCourse__fieldset__contentFields__btLoms" ng-click="showSelectLoms=!showSelectLoms" ng-show="showSelectLoms" type="button">Ocultar loms</button>		
													</div>
												</div>
											</div>
										</div>

										<!-- <div class="contentAddItem__wrapperAddItem__level2" ng-show="showSelectLoms"> 
										<div class="formAddCourse__fieldset__contentFields__selectLoms" ng-show="showSelectLoms">
											<div class="row">
												<div class="col-xs-12 col-sm-4">
													<div class="formAddCourse__fieldset__contentFields__selectLoms__toSelect">
														<p class="formAddCourse__fieldset__contentFields__selectLoms__toSelect__labelSelect" for="sections_name">Seleccionar</p>
														<ul class="formAddCourse__fieldset__contentFields__loms">
															<li class="formAddCourse__fieldset__contentFields__loms__element" ng-repeat="i in lomsAux">
																<a ng-click="selected=!selected; addToListAux(i,selected)" ng-class="{active:selected}" class="formAddCourse__fieldset__contentFields__loms__element__link" href>{{i.general.id_catalog}}</a>
															</li>
														</ul>
													</div>
												</div>
												<div class="col-xs-12 col-sm-4">
													<div class="row">
														<div class="formAddCourse__fieldset__contentFields__selectLoms__options">
															<div class="col-xs-6 col-sm-12">
																<div class="formAddCourse__fieldset__contentFields__selectLoms__options__add clearfix">
																 	<button class="btnBq--style1" ng-click="addToListEditLom(section.name,lesson.name,$event)">Añadir</button>
																</div>
															</div>
															<div class="col-xs-6 col-sm-12">
																<div class="formAddCourse__fieldset__contentFields__selectLoms__options__delete clearfix">
															 		<button class="btnBq--style1" ng-click="deleteFromListEditLom(section.name,lesson.name,$event)">Eliminar</button>
																</div>
															</div>		
														</div>
													</div>
												</div>
												<div class="col-xs-12 col-sm-4">
													<div class="formAddCourse__fieldset__contentFields__selectLoms__added">
														<p class="formAddCourse__fieldset__contentFields__selectLoms__added__label" for="sections_summary">Añadidos</p>
														<ul class="formAddCourse__fieldset__contentFields__loms">
															<li class="formAddCourse__fieldset__contentFields__loms__element" ng-repeat="i in lesson.loms">
																<a ng-click="selected=!selected; removeFromListAux(i,selected)" ng-class="{active:selected}" class="formAddCourse__fieldset__contentFields__loms__element__link">{{i.lom_id}}
																	<a ng-class="{active:selected}" class="formAddCourse__fieldset__contentFields__loms__element__link__link" ng-click="removeLomFromListAdd(i)" href><span class="bbq-remove bbq-remove--lom" title="Eliminar lom"></span></a>
																</a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										
										<ng-include src=" 'views/modules/editObjectivesLesson.html' "></ng-include>
									-->
								</fieldset>	
	        		</li>
	        	</ul>	
	        	<div class="contentAddItem__wrapperAddItem__level2 mb15 bgWhite">
					<button class="btnBq--style1" ng-init="newLesson=false" ng-click="newLesson= !newLesson" ng-hide="newLesson" type="button">Nueva Lección</button>
					<!-- <button ng-click="addObjectives()">Fin</button> -->
					<div ng-show="newLesson">
						<div class="formAddCourse__fieldset__contentFields addNewLesson" >
							<div class="row">
								<div class="col-xs-12 col-sm-6 mb15">
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_name">Nombre</label>	
										</div>
										<div class="col-xs-12 col-sm-6">
											<input class="formAddCourse__fieldset__contentFields__input" ng-model="lessonN.name" type="text" id="sections_lesson_name" name="sections_lesson_name">		
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 mb15">
									<div class="row">
										<div class="col-xs-12 col-sm-4 col-md-3">
											<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_summary">Resumen</label>
										</div>
										<div class="col-xs-12 col-sm-8 col-md-9">
											<textarea class="formAddCourse__fieldset__contentFields__textArea" ng-model="lessonN.summary" type="text" id="sections_lesson_summary" name="sections_lesson_summary"></textarea>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-6 mb15">
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_name">Descripción</label>	
										</div>
										<div class="col-xs-12 col-sm-6">
											<input class="formAddCourse__fieldset__contentFields__input" ng-model="lessonN.description" type="text" id="sections_lesson_desc" name="sections_lesson_desc">		
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 mb15">
									<div class="row">
										<div class="col-xs-12 col-sm-4 col-md-3">
											<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_summary">Imagen</label>
										</div>
										<div class="col-xs-12 col-sm-8 col-md-9">
											<input class="formAddCourse__fieldset__contentFields__textArea" ng-model="lessonN.photo" type="text" id="sections_lesson_photo" name="sections_lesson_photo">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
									<div class="col-xs-12 col-sm-6 mb15">
										<div class="row">
											<div class="col-xs-12 col-sm-6">
												<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_type">Tipo</label>
											</div>
											<div class="col-xs-12 col-sm-6">
												<select class="formAddCourse__fieldset__contentFields__input" ng-model="lessonN.type" id="sections_lesson_type" type="text" name="sections_lesson_type">
												  	<option value="Essential">Básica</option>
													<option value="Reinforcement">Refuerzo</option>
													<option value="Extension">Ampliación</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 mb15">
										<div class="row">
											<div class="col-xs-12 col-sm-6">
												<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_learningPath">Dificultad</label>
											</div>
											<div class="col-xs-12 col-sm-6">
												<input class="formAddCourse__fieldset__contentFields__input" ng-model="lessonN.difficulty" TYPE="RANGE" MIN="0" MAX="10" STEP="2" VALUE="0" id="sections_lesson_difficulty" name="sections_lesson_difficulty">
											</div>
										</div>
									</div>
									
							</div>
								<div class="row">
									<div class="col-xs-12 col-sm-6 mb15">
										<div class="row">
											<div class="col-xs-12 col-sm-6">
												<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_learningPath">Siguientes Lecciones</label>
											</div>
											<div class="col-xs-12 col-sm-6">
												<input class="formAddCourse__fieldset__contentFields__input" ng-model="lessonN.learningpath" type="text" id="sections_lesson_learningPath" name="sections_lesson_learningPath">
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 mb15">
										<div class="row">
											<div class="col-xs-12 col-sm-6">
												<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_type">Enlace</label>
											</div>
											<div class="col-xs-12 col-sm-6">
												<input class="formAddCourse__fieldset__contentFields__textArea" ng-model="lessonN.loms[0].lom_id" type="text" id="sections_lesson_lom" name="sections_lesson_lom">
											</div>
										</div>
									</div>
							</div>		
						</div>


						<!-- <ng-include src=" 'views/modules/addNewLesson.html' "></ng-include>-->
						<button class="btnBq--style1 mt13" ng-click="addLessonEdit(section.name, lessonN);newLesson= !newLesson" type="button">Añadir Lección</button>
						<button class="btnBq--style1" ng-click="newLesson= !newLesson" ng-show="newLesson" type="button">Ocultar</button>
					</div>
				</div>						
			</div>
		</fieldset> 
	
	</div>
</div>
