<div class="contentAddItem__wrapperAddItem__level2">
	<div>
		<fieldset class="formAddCourse__fieldset__level2">
			<legend class="formAddCourse__fieldset__level2__legend"> 
	    		<!-- <a class="formAddCourse__fieldset__legend__link" ng-click="showHideFields(2)" href><span ng-class="{'bbq-minus bbq-minus--form':showFieldsObjectives, 'bbq-plus bbq-plus--form': !showFieldsObjectives}"></span></a> -->
	    		Lecciones
			</legend>
			<div class="formAddCourse__fieldset__level2__contentFields" >
				<ul>
    				<li ng-repeat="section in sectionsSelected" ng-init="visible = true">
    					<fieldset class="formAddLom__fieldset pdb10">
    						<ng-include src=" 'views/modules/editLessons.html' "></ng-include>	
    						<!-- HIDE SECTIONS -->

			        		<!-- <legend class="formAddLom__fieldset__legend"> 
				        		<a class="formAddLom__fieldset__legend__link" ng-click="visible= !visible" href><span ng-class="{'bbq-minus bbq-minus--form':visible, 'bbq-plus bbq-plus--form': !visible}"></span></a>
				        		Sección {{$index+1}}
			        		</legend>
			        		
			        		
							<div class="formAddLom__fieldset__contentFields">
								<!-- <div class="row">
									<div class="col-xs-12 col-sm-6 mb15">
										<div class="row">
											<div class="col-xs-12 col-sm-6">
												<label class="formAddCourse__fieldset__contentFields__label" for="sections_name">Nombre</label>
											</div>
											<div class="col-xs-12 col-sm-10">
												<input class="formAddCourse__fieldset__contentFields__input" ng-model="section.name" type="text" id="sections_name" name="sections_name"/>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 mb15">
										<div class="row">
											<div class="col-xs-12 col-sm-6">
												 <label class="formAddCourse__fieldset__contentFields__label" for="sections_summary">Resumen</label>
											</div>
											<div class="col-xs-12 col-sm-12">
												<textarea class="formAddCourse__fieldset__contentFields__textArea" ng-model="section.summary" type="text" id="sections_summary" name="sections_summary"/></textarea>
											</div>
										</div>
									</div>
								</div>	
								<ng-include src=" 'views/modules/editObjectivesSection.html' "></ng-include> 
									
							</div>-->
							<!-- <button ng-show="visible" type="button" ng-click="editSection($index,section.name,section.summary, section.objectives,section.lessons);visible = !visible;" class="btnBq--style2 edit">Guardar Sección</button> -->
        				</fieldset>
    				</li>
    			</ul>	
    								
			</div>
		</fieldset> 
		
	</div>
</div>