<div class="contentAddItem__wrapperAddItem__level2">
	<button class="btnBq--style1" ng-click="showEditSections= !showEditSections" ng-hide="showEditSections" type="button">Mostrar Secciones</button>
	<div ng-show="showEditSections">
		<fieldset class="formAddCourse__fieldset__level2">
			<legend class="formAddCourse__fieldset__level2__legend"> 
	    		<!-- <a class="formAddCourse__fieldset__legend__link" ng-click="showHideFields(2)" href><span ng-class="{'bbq-minus bbq-minus--form':showFieldsObjectives, 'bbq-plus bbq-plus--form': !showFieldsObjectives}"></span></a> -->
	    		Secciones
			</legend>
			<div class="formAddCourse__fieldset__level2__contentFields" >
				<ul>
    				<li ng-repeat="section in sectionsSelected" ng-init="visible = false">
    					<fieldset class="formAddLom__fieldset pdb10">
			        		<legend class="formAddLom__fieldset__legend"> 
				        		<a class="formAddLom__fieldset__legend__link" ng-click="visible= !visible" href><span ng-class="{'bbq-minus bbq-minus--form':visible, 'bbq-plus bbq-plus--form': !visible}"></span></a>
				        		Sección {{$index+1}}
			        		</legend>
							<div class="formAddLom__fieldset__contentFields" ng-show="visible">
								<div class="row">
									<div class="col-xs-12 col-sm-6 mb15">
										<div class="row">
											<div class="col-xs-12 col-sm-6">
												<label class="formAddCourse__fieldset__contentFields__label" for="sections_name">Nombre</label>
											</div>
											<div class="col-xs-12 col-sm-6">
												<input class="formAddCourse__fieldset__contentFields__input" ng-model="section.name" type="text" id="sections_name" name="sections_name"/>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 mb15">
										<div class="row">
											<div class="col-xs-12 col-sm-6">
												 <label class="formAddCourse__fieldset__contentFields__label" for="sections_summary">Resumen</label>
											</div>
											<div class="col-xs-12 col-sm-6">
												<input class="formAddCourse__fieldset__contentFields__input" ng-model="section.summary" type="text" id="sections_summary" name="sections_summary"/>
											</div>
										</div>
									</div>
								</div>	
								<!-- <ng-include src=" 'views/modules/editObjectivesSection.html' "></ng-include> -->
								<ng-include src=" 'views/modules/editLessons.html' "></ng-include>		
							</div>
							<button ng-show="visible" type="button" ng-click="editSection($index,section.name,section.summary, section.objectives,section.lessons);visible = !visible;" class="btnBq--style2 edit">Guardar Sección</button>
        				</fieldset>
    				</li>
    			</ul>	
    			<div class="contentAddItem__wrapperAddItem__level2 mb15 bgWhite">
					<!-- <button class="btnBq--style1" ng-click="newSection= !newSection" ng-hide="newSection" type="button">Nueva Sección</button> ->
					<!-- <button ng-click="addObjectives()">Fin</button> -->
					<div ng-show="newSection" ng-init="newSection = false">
						<!-- poner formulaio? -->
						<ng-include src=" 'views/modules/addNewSectionEdit.html' "></ng-include>
						<!-- <button class="btnBq--style1 mt13" ng-click="addSectionEdit();newSection= !newSection" type="button">Añadir Sección</button>
						<button class="btnBq--style1" ng-click="newSection= !newSection" ng-show="newSection" type="button">Ocultar</button>
						<!-- fin formulario -->
					</div>
				</div>						
			</div>
		</fieldset> 
		<button class="btnBq--style1" ng-click="showEditSections= !showEditSections" type="button">Ocultar Secciones</button>
	</div>
</div>