<fieldset class="formAddCourse__fieldset">
			        		<legend class="formAddCourse__fieldset__legend"> 
				        		<!-- <a class="formAddCourse__fieldset__legend__link" ng-click="showHideFields(2)" href><span ng-class="{'bbq-minus bbq-minus--form':showFieldsObjectives, 'bbq-plus bbq-plus--form': !showFieldsObjectives}"></span></a> -->
				        		Objetivos
			        		</legend>
							<div class="formAddCourse__fieldset__contentFields" ng-show="showFieldsObjectives">
								<div class="row">
									<div class="col-xs-12 col-sm-6 mb15">
										<div class="row">
							
											<div class="col-xs-12 col-sm-6">
												<label for="objectives_code">Code</label>	
											</div>
											<div class="col-xs-12 col-sm-6">
												<input ng-model="objectives.code" type="text" id="objectives_code" name="objectives_code">		
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 mb15">
										<div class="row">
											<div class="col-xs-12 col-sm-6">
												<label for="objectives_description">Description</label>
											</div>
											<div class="col-xs-12 col-sm-6">
												<input ng-model="objectives.description" type="text" id="objectives_description" name="objectives_description">
											</div>
										</div>
									</div>
								</div>
								
								<div class="row">
									<div class="col-xs-12 col-sm-6 mb15">
										<div class="row">
											<div class="col-xs-12 col-sm-6">
												<label for="objectives_level">Level</label>
											</div>
											<div class="col-xs-12 col-sm-6">
												<input ng-model="objectives.level" type="number" id="objectives_level" name="objectives_level">
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 mb15">
										<div class="row">
											<div class="col-xs-12 col-sm-6">
												<label for="objectives_bloom">Type</label>
											</div>
											<div class="col-xs-12 col-sm-6">
												<select ng-model="objectives.bloom" id="objectives_bloom" type="text" name="objectives_bloom">
											  		<option>knowledge</option>
											  		<option>comprehension</option>
							                  <option>application</option>
							                  <option>analysis</option>
							                  <option>sintehsis</option>
							                  <option>evaluation</option>
												</select>
											</div>
										</div>
									</div>
								</div>								
		        			</div>
		        		</fieldset> 