<div class="wrapperLesson">
	<div class="contentTitle">
        <h2 class="h2Class">{{activity.general.title}}</h2>
    </div>
	
	<div class="wrapperLesson__options">
	    	<div class="wrapperLesson__options__ok">
	    		<a title="Realizada"  class="wrapperLesson__options__ok__link" ng-click="okEndLesson()" href><span class="bbq-ok2 bbq-ok2--lesson"></span></a>
	    	</div>
    		<div title="No Realizada" class="wrapperLesson__options__nok">
				<a class="wrapperLesson__options__ok__link" ng-click="badEndLesson()" href><span class="bbq-minus bbq-nok--lesson"></span></a>
			</div>
    		<div title="Guardar" class="wrapperLesson__options__wait">
				<a class="wrapperLesson__options__ok__link" ng-click="pauseLesson()" href><span class="bbq-save bbq-save--lesson"></span></a>
			</div>
			<div title="Volver" class="wrapperLesson__options__wait">
				<a class="wrapperLesson__options__ok__link" ng-click="backLesson()" href><span class="bbq-nok bbq-cloud--lesson"></span></a>
			</div>
	</div>
	<div class="wrapperLesson__contentBody clearfix">
		<!-- <object class="width100" type="text/html" data="{{activity.technical.url}}" width="330 px" height="860 px">  -->
		<!-- <object class="width100" type="text/html" data="{{newActivity.technical.url}}" width="330 px" height="860 px"> -->
		<!-- <iframe class="minH700 width100" src="{{activity.technical.url}}" frameborder="0" allowfullscreen></iframe>   -->
		<!-- <iframe class="wrapperLesson__contentBody__activity" ng-src="{{activity.technical.url}}" frameborder="0" allowfullscreen></iframe>  -->
		<iframe width="100%" height="1000px" ng-src="{{page.src | scrurl}}" allowfullscreen frameborder="0" target="_parent">
	 </div>
</div>
