


<div class="contentAddItem clearfix">
	<div class="contentTitle">
    	<h2 class="h2Class">Nuevo Curso</h2>
	</div>

	<div class="contentAsideWrapper clearfix">
		<div class="asideLeft">
			<ul>
				<li class="asideLeft__element">
					<a href="#" title="Show Options" class="asideLeft__element__link">
						<span class="bbq-align-left bbq-align-left--style1"></span>
					</a>
				</li>
				<li class="asideLeft__element">
					<a class="asideLeft__element__link" href="#" title="Info">
						<span class="bbq-info-1 bbq-info-1--style1"></span>
					</a>
				</li>
			</ul>
		</div>
		<div class="contentAddItem__wrapperAddItem">
			<form id="adminCoursesForm" name="adminCoursesForm" class="formAddCourse" ng-submit="addEditCourse()"  novalidate>
		    <fieldset>
		        	<legend class="sr-only">FORMULARIO AGREGAR</legend>
		        	<ul>
		        		<li>
		        			<fieldset class="formAddCourse__fieldset">
				        		<legend class="formAddCourse__fieldset__legend"> 
					        		<!-- <a class="formAddCourse__fieldset__legend__link" ng-click="showHideFields(1)" href><span ng-class="{'bbq-minus bbq-minus--form':showFieldsGeneral, 'bbq-plus bbq-plus--form': !showFieldsGeneral}"></span></a> -->
					        		General
				        		</legend>
								<div class="formAddCourse__fieldset__contentFields" ng-show="showFieldsGeneral">
									<div class="row">
										<div class="col-xs-12 col-sm-6 mb15">
											<div class="row">
												<div class="col-xs-12 col-sm-6">
													<label class="formAddCourse__fieldset__contentFields__label" for="course_name">Name</label>
												</div>
												<div class="col-xs-12 col-sm-6">
													<input class="formAddCourse__fieldset__contentFields__input" ng-model="courseName" type="text" id="course_name" name="course_name" required>
												</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6 mb15">
											<div class="row">
												<div class="col-xs-12 col-sm-6">
													<label class="formAddCourse__fieldset__contentFields__label" for="course_code">Code</label>	
												</div>
												<div class="col-xs-12 col-sm-6">
													<input class="formAddCourse__fieldset__contentFields__input" ng-model="courseCode" type="text" id="course_code" name="course_code">		
												</div>
											</div>
										</div>
									</div>
									<div class="row"> 
										<div class="col-xs-12 col-sm-6 mb15">
											<div class="row">
												<div class="col-xs-12 col-sm-6">
													<label class="formAddCourse__fieldset__contentFields__label" for="course_summary">Summary</label>
												</div>
												<div class="col-xs-12 col-sm-6">
													<input class="formAddCourse__fieldset__contentFields__input" ng-model="courseSummary" type="text" id="course_summary" name="course_summary">
												</div>
											</div>
										</div>	
										<div class="col-xs-12 col-sm-6">
											<div class="row">
												<div class="col-xs-12 col-sm-6">
													<input class="formAddCourse__fieldset__contentFields__inputPic" type="file" name="file" onchange="angular.element(this).scope().photoChanged(this.files)" />
												</div>
												<div class="col-xs-12 col-sm-6">
													<div class="center">
		        										<img class="loadPic" ng-src="{{ thumbnail.dataUrl }}"/>
													</div>
												</div>
											</div>
										</div>	
									</div>
									<ng-include src=" 'views/modules/addObjCourse.html' "></ng-include>	
								</div>
		        			</fieldset>
		        		</li>
		        	</ul>        		        		
		    </fieldset>
		    <button class="btnBq--style1 formAddCourse__submit" type="submit" name="sendFormAddCourse">Crear curso</button>   
			</form>
		</div>
	</div>

</div>
