


<div class="contentAddItem clearfix">
	<div class="contentTitle">
    	<h2 ng-if="addingLom" class="h2Class">Nuevo Objeto de Aprendizaje</h2>
    	<h2 ng-if="!addingLom" class="h2Class">Editar Objeto de Aprendizaje</h2>
	</div>
	<div class="contentAsideWrapper clearfix">
		<div class="asideLeft">
			<ul ng-init="showOptionsFormLom=false">
				<li class="asideLeft__element">
					<a href ng-click="showOptionsFormLom= !showOptionsFormLom" title="Opciones" class="asideLeft__element__link menu">
						<span class="bbq-menu bbq-menu--form"></span>
					</a>
				</li>
				<li ng-show="showOptionsFormLom" class="asideLeft__element">
					<a ng-click="autoCompleteSimilarLom($event)" class="asideLeft__element__link" href title="Autocompletado inteligente">
						<span class="bbq-autocomplete bbq-autocomplete--formLom"></span>
					</a>
				</li>
				<li ng-show="showOptionsFormLom" class="asideLeft__element">
					<a ng-click="resetFormLom()" class="asideLeft__element__link" href title="Resetear formulario">
						<span class="bbq-reset1 bbq-reset1--formLom"></span>
						<span class="bbq-reset2 bbq-reset2--formLom"></span>
					</a>
				</li>
				<li ng-show="showOptionsFormLom" class="asideLeft__element">
					<a class="asideLeft__element__link" href title="Información">
						<span class="bbq-info-1 bbq-info-1--style1"></span>
					</a>
				</li>
			</ul>
		</div>
		<div class="contentAddItem__wrapperAddItem pdt10">
			<form id="adminLomsForm" name="adminLomsForm" class="formAddLom" ng-submit="addEditLom()"  novalidate>
			    <fieldset>
			        	<legend class="sr-only">FORMULARIO AGREGAR</legend>
			        	<ul>
			        		<li>
			        			<fieldset class="formAddLom__fieldset">
					        		<legend class="formAddLom__fieldset__legend"> 
						        		<a class="formAddLom__fieldset__legend__link" ng-click="showHideFields(1)" href><span ng-class="{'bbq-minus bbq-minus--form':showFieldsGeneral, 'bbq-plus bbq-plus--form': !showFieldsGeneral}"></span></a>
						        		General
					        		</legend>
									<div class="formAddLom__fieldset__contentFields" ng-show="showFieldsGeneral">
										<div class="row">
											<div class="col-xs-12 col-sm-6 mb15">
												<div class="row">
													<div class="col-xs-12 col-sm-4">
														<label class="formAddLom__label" for="generalSchema_catalog">Identificador Catálogo</label>
													</div>
													<div class="col-xs-12 col-sm-8">
														<input class="formAddLom__input" ng-model="generalSchema.id_catalog" type="text" id="generalSchema_catalog" name="generalSchema_catalog">
													</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 mb15">
												<div class="row">
													<div class="col-xs-12 col-sm-4">
														<label class="formAddLom__label" for="generalSchema_entry">Identificador Entrada</label>	
													</div>
													<div class="col-xs-12 col-sm-8">
														<input class="formAddLom__input" ng-model="generalSchema.id_entry" type="number" id="generalSchema_entry" name="generalSchema_entry">		
													</div>
												</div>
											</div>
										</div>
										<div class="row"> 
											<div class="col-xs-12 col-sm-6 mb15">
												<div class="row">
													<div class="col-xs-12 col-sm-4">
														<label class="formAddLom__label" for="generalSchema_title">Título *</label>
													</div>
													<div class="col-xs-12 col-sm-8">
														<input class="formAddLom__input" ng-model="generalSchema.title" type="text" id="generalSchema_title" name="generalSchema_title" required>
													</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 mb15">
												<div class="row">
													<div class="col-xs-12 col-sm-4">
														<label class="formAddLom__label" for="generalSchema_language">Idioma *</label>
													</div>
													<div class="col-xs-12 col-sm-8">
														<select class="formAddLom__select" ng-model="generalSchema.language" id="generalSchema_language"  type="text" name="generalSchema_language" required>
														  <option value="" disabled>Selecciona un lenguaje</option>
														  <option value="es">es</option>
														  <option value="en">en</option>
														</select>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-6 mb15">
												<div class="row">
													<div class="col-xs-12 col-sm-4">
														<label class="formAddLom__label" for="generalSchema_structure">Estructura *</label>
													</div>
													<div class="col-xs-12 col-sm-8">
														<select class="formAddLom__select" ng-model="generalSchema.structure" id="generalSchema_structure" type="text" name="generalSchema_structure" required>
														  <option value="" disabled>Selecciona una estructura</option>
														  <option value="atomic">Atómica</option>
														  <option value="collection">Colección</option>
														  <option value="networked">Red</option>
														  <option value="hierarchical">Jerárquica</option>
														  <option value="linear">Lineal</option>
														</select>
													</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 mb15">
												<div class="row">
													<div class="col-xs-12 col-sm-4">
														<label class="formAddLom__label" for="generalSchema_aggregation_level">Nivel de agregación</label>
													</div>
													<div class="col-xs-12 col-sm-8">
														<input class="formAddLom__input" ng-model="generalSchema.aggregation_level" type="number" id="generalSchema_aggregation_level" name="generalSchema_aggregation_level">
													</div>
												</div>										
											</div>
										</div>
									</div>
			        			</fieldset>
			        		</li>
			        		<li>
			        			<fieldset class="formAddLom__fieldset">
					        		<legend class="formAddLom__fieldset__legend"> 
						        		<a class="formAddLom__fieldset__legend__link" ng-click="showHideFields(2)" href><span ng-class="{'bbq-minus bbq-minus--form':showFieldsLifecicle, 'bbq-plus bbq-plus--form': !showFieldsLifecicle}"></span></a>
						        		Ciclo de Vida
					        		</legend>
									<div class="formAddLom__fieldset__contentFields" ng-show="showFieldsLifecicle">
										<div class="row">
											<div class="col-xs-12 col-sm-6 mb15">
												<div class="row">
													<div class="col-xs-12 col-sm-4">
														<label class="formAddLom__label" for="lifecycleSchema_version">Versión</label>		
													</div>
													<div class="col-xs-12 col-sm-8">
														<input class="formAddLom__input" ng-model="lifecycleSchema.version" type="number" id="lifecycleSchema_version" name="lifecycleSchema_version">		
													</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 mb15">
												<div class="row">
													<div class="col-xs-12 col-sm-4">
														<label class="formAddLom__label" for="lifecycleSchema_state">Estado *</label>
													</div>
													<div class="col-xs-12 col-sm-8">
														<select class="formAddLom__select" ng-model="lifecycleSchema.state" id="lifecycleSchema_state" type="text" name="lifecycleSchema_state" required>
														    <option value="" disabled>Selecciona un estado</option>
											  				<option value="draft">Preliminar</option>
											  				<option value="final">Final</option>
														</select>	
													</div>
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="col-xs-12 col-sm-6 mb15">
												<div class="row">
													<div class="col-xs-12 col-sm-4">
														<label class="formAddLom__label" for="lifecycleSchema_contribution_type">Contribución - Tipo</label>
													</div>
													<div class="col-xs-12 col-sm-8">
														<select class="formAddLom__select" ng-model="lifecycleSchema.contribution_type" type="text" id="lifecycleSchema_contribution_type" name="lifecycleSchema_contribution_type">
															<option value="" disabled>Selecciona</option>
															<option value="creator">Creador</option>
															<option value="validator">Validador</option>
														</select>
													</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 mb15">
												<div class="row">
													<div class="col-xs-12 col-sm-4">
														<label class="formAddLom__label" for="lifecycleSchema_contribution_entity">Contribución - Entidad</label>
													</div>
													<div class="col-xs-12 col-sm-8">
														<input class="formAddLom__input" ng-model="lifecycleSchema.contribution_entity" type="text" id="lifecycleSchema_contribution_entity" name="lifecycleSchema_contribution_entity">
													</div>
												</div>
											</div>
										</div>
											
										<div class="row">
											<div class="col-xs-12 col-sm-6 mb15">
												<div class="row">
													<div class="col-xs-12 col-sm-4">
														<label class="formAddLom__label" for="lifecycleSchema_contribution_date">Contribución - Fecha</label>
													</div>
													<div class="col-xs-12 col-sm-8">
														<input class="formAddLom__input" ng-model="lifecycleSchema.contribution_date" type="date" id="lifecycleSchema_contribution_date" name="lifecycleSchema_contribution_date">
													</div>
												</div>
											</div>
										</div>	
									</div>													
				        		</fieldset>
			        		</li>
			        		<li>
			        			<fieldset class="formAddLom__fieldset">
					        		<legend class="formAddLom__fieldset__legend"> 
						        		<a class="formAddLom__fieldset__legend__link" ng-click="showHideFields(3)" href><span ng-class="{'bbq-minus bbq-minus--form':showFieldsMetadata, 'bbq-plus bbq-plus--form': !showFieldsMetadata}"></span></a>
						        		Meta-metadatos
					        		</legend>
									<div class="formAddLom__fieldset__contentFields" ng-show="showFieldsMetadata">
									
										<div class="row">
											<div class="col-xs-12 col-sm-6 mb15">
												<div class="row">
													<div class="col-xs-12 col-sm-4">
														<label class="formAddLom__label" for="metadataSchema_contribution_type">Contribución - Tipo</label>
													</div>
													<div class="col-xs-12 col-sm-8">
														<input class="formAddLom__input" ng-model="metadataSchema.contribution_type" type="text" id="metadataSchema_contribution_type" name="metadataSchema_contribution_type">
													</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 mb15">
												<div class="row">
													<div class="col-xs-12 col-sm-4">
														<label class="formAddLom__label" for="metadataSchema_contribution_entity">Contribución - Entidad </label>
													</div>
													<div class="col-xs-12 col-sm-8">
														<input class="formAddLom__input" ng-model="metadataSchema.contribution_entity" type="text" id="metadataSchema_contribution_entity" name="metadataSchema_contribution_entity">
													</div>
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="col-xs-12 col-sm-6 mb15">
												<div class="row">
													<div class="col-xs-12 col-sm-4">
														<label class="formAddLom__label" for="metadataSchema_contribution_date">Contribución - Fecha</label>
													</div>
													<div class="col-xs-12 col-sm-8">
														<input class="formAddLom__input" ng-model="metadataSchema.contribution_date" type="date" id="metadataSchema_contribution_date" name="metadataSchema_contribution_date">
													</div>
												</div>
											</div>
										</div>
									</div>
			        			</fieldset>
			        		</li>
			        		<li>
			        			<fieldset class="formAddLom__fieldset">
					        		<legend class="formAddLom__fieldset__legend"> 
						        		<a class="formAddLom__fieldset__legend__link" ng-click="showHideFields(4)" href><span ng-class="{'bbq-minus bbq-minus--form':showFieldsTechnical, 'bbq-plus bbq-plus--form': !showFieldsTechnical}"></span></a>
						        		Técnico 
					        		</legend>
									<div class="formAddLom__fieldset__contentFields" ng-show="showFieldsTechnical">
										<div class="row">
											<div class="col-xs-12 col-sm-6 mb15">
												<div class="row">
													<div class="col-xs-12 col-sm-4">
														<label class="formAddLom__label" for="technicalSchema_format">Formato *</label>
													</div>
													<div class="col-xs-12 col-sm-8">
														<select class="formAddLom__select" ng-model="technicalSchema.format" type="text" id="technicalSchema_format" name="technicalSchema_format" required>
															<option value="" disabled>Selecciona un formato</option>
															<option value="doc">Documento (*.doc)</option>
															<option value="acrobat">Documento Adobe Acrobat (*.pdf)</option>
															<option value="webPage">Página Web (*.htm, *.html)</option>
															<option value="textFile">Archivo de texto (*.txt)</option>
															<option value="excel">Hoja de Cálculo Excel (*.xls)</option>
															<option value="powerPoint">Presentación PowerPoint(*.pps, *.ppt)</option>
															<option value="flash">Animación Flash (*.swf)</option>
															<option value="MIDIsound">Sonido MIDI (*.mid)</option>
															<option value="MPEGsound">Sonido MPEG (*.mp3)</option>
															<option value="WAVEsound">Sonido WAVE (*.wav)</option>
															<option value="realSound">Sonido RealAudio (*.ra)</option>
															<option value="BMPimage">Imagen BMP (*.bmp)</option>
															<option value="GIFimage">Imagen GIF (*.gif)</option>
															<option value="JPGimage">Imagen JPG (*.jpg)</option>
															<option value="PNGimage">Imagen PNG (*.png)</option>
															<option value="AVIvideo">Video AVI (*.avi)</option>
															<option value="MPGvideo">Video MPG (*.mpg, *.mpeg)</option>
															<option value="QuickTimeVideo">Video QuickTime (*.mov, *.qt)</option>
															<option value="realVideo">Video RealVideo (*.rv)</option>
															<option value="videoMediaPlayer">Video Media Player (*.asf, *.asx)</option>
															<option value="windowsMediaVideo">Windows Media Video (*.wmv)</option>
															<option value="flashVideo">Flash Video (*.flv)</option>
													
														</select>
													</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 mb15">
												<div class="row">
													<div class="col-xs-12 col-sm-4">
														<label class="formAddLom__label" for="technicalSchema_size_kb">Tamaño</label>
													</div>
													<div class="col-xs-12 col-sm-8">
														<input class="formAddLom__input" ng-model="technicalSchema.size_kb" type="number" id="technicalSchema_size_kb" name="technicalSchema_size_kb">
													</div>
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="col-xs-12 col-sm-6 mb15">
												<div class="row">
													<div class="col-xs-12 col-sm-4">
														<label class="formAddLom__label" for="technicalSchema_url">Url *</label>
													</div>
													<div class="col-xs-12 col-sm-8">
														<input class="formAddLom__input" ng-model="technicalSchema.url" type="text" id="technicalSchema_url" name="technicalSchema_url" required>
													</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 mb15">
												<div class="row">
													<div class="col-xs-12 col-sm-4">
														<label class="formAddLom__label" for="technicalSchema_photo">Imagen</label>
													</div>
													<div class="col-xs-12 col-sm-8">
														<input class="formAddLom__input" ng-model="technicalSchema.photo" type="text" id="technicalSchema_photo" name="technicalSchema_photo">
													</div>
												</div>
											</div>
										</div>	
									</div>
			        			</fieldset>
			        		</li>
			        		<li>
			        			<fieldset class="formAddLom__fieldset">
					        		<legend class="formAddLom__fieldset__legend"> 
						        		<a class="formAddLom__fieldset__legend__link" ng-click="showHideFields(5)" href><span ng-class="{'bbq-minus bbq-minus--form':showFieldsUse, 'bbq-plus bbq-plus--form': !showFieldsUse}"></span></a>
						        		Uso Educativo
					        		</legend>
									<div class="formAddLom__fieldset__contentFields" ng-show="showFieldsUse">
				
										<div class="row">
											<div class="col-xs-12 col-sm-6 mb15">
												<div class="row">
													<div class="col-xs-12 col-sm-4">
														<label class="formAddLom__label" for="useSchema_interactivity_type">Tipo de interactividad</label>
													</div>
													<div class="col-xs-12 col-sm-8">
														<select class="formAddLom__select" ng-model="useSchema.interactivity_type" type="text" id="useSchema_interactivity_type" name="useSchema_interactivity_type">
															<option value="" disabled>Selecciona</option>
															<option value="active">Activo</option>
															<option value="expository">Expositivo</option>
															<option value="combinative">Combinativo</option>
														</select>
													</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 mb15">
												<div class="row">
													<div class="col-xs-12 col-sm-4">
														<label class="formAddLom__label" for="useSchema_interactivity_level">Nivel de interactividad</label>
													</div>
													<div class="col-xs-12 col-sm-8">
														<select class="formAddLom__select" ng-model="useSchema.interactivity_level" type="text" id="useSchema_interactivity_level" name="useSchema_interactivity_level">
														    <option value="" disabled>Selecciona un nivel</option>
															<option value="veryLow">Muy Bajo</option>
															<option value="low">Bajo</option>
															<option value="medium">Medio</option>
															<option value="high">Alto</option>
															<option value="veryHigh">Muy Alto</option>
														</select>
													</div>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-xs-12 col-sm-6 mb15">
												<div class="row">
													<div class="col-xs-12 col-sm-4">
														<label class="formAddLom__label" for="useSchema_language">Idioma</label>
													</div>
													<div class="col-xs-12 col-sm-8">
														<select class="formAddLom__select" ng-model="useSchema.language" type="text" id="useSchema_language" name="useSchema_language">
															<option value="" disabled>Selecciona</option>
															<option value="es">Español</option>
															<option value="en">Inglés</option>
														</select>
													</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 mb15">
												<div class="row">
													<div class="col-xs-12 col-sm-4">
														<label class="formAddLom__label" for="useSchema_resource_type">Tipo de recurso</label>
													</div>
													<div class="col-xs-12 col-sm-8">
														<select class="formAddLom__select" ng-model="useSchema.resource_type" type="text" id="useSchema_resource_type" name="useSchema_resource_type">
															<option value="" disabled>Selecciona un recurso</option>
															<option value="pic">Fotografía</option>
															<option value="ilustration">Ilustración</option>
															<option value="video">Video</option>
															<option value="animation">Animación</option>
															<option value="music">Música</option>
															<option value="soundEfect">Efecto sonoro</option>
															<option value="locution">Locución</option>
															<option value="compuestAudio">Audio compuest</option>
															<option value="narrativeText">Texto narrativo</option>
															<option value="hypertext">Hipertexto</option>
															<option value="graphicPc">Gráfica por computado</option>
															<option value="integrateMedia">Medios integrados</option>
															<option value="bbdd">Base de datos</option> 
															<option value="table">Tabla</option> 
															<option value="grapich">Gráfico</option> 
															<option value="conceptualMap">Mapa conceptual</option> 
															<option value="navigation">Navigation</option> 
															<option value="mapNavigation">Mapa de navegación</option> 
															<option value="digitalDic">Diccionario digital</option> 
															<option value="digitalEnc">Enciclopedia digital</option> 
															<option value=periodicdigitalPublication"">Publicación digital periódica</option> 
															<option value="web">Web/portal temático o corporativo</option> 
															<option value="wiki">Wiki</option> 
															<option value="weblog">Weblog</option> 
															<option value="creationEditMul">Herramienta de creación/edición multimedia</option> 
															<option value="creationEditWeb">Herramienta de creación/edición web</option>
															<option value="office">Herramienta de ofimática</option>
															<option value="programming">Herramienta de programación</option>
															<option value="analitic">Herramienta de análisis/organización de info./conocimiento</option>
															<option value="support">Herramienta de apoyo a procesos/procedimientos</option>
															<option value="manage">Herramienta de gestión de aprend./trab. indiv./coop./colab.</option>
															<option value="createEditMulService">Servicio de creación/edición multimedia</option>
															<option value="officeService">Servicio de ofimática</option>
															<option value="programmingService">Servicio de programación</option>
															<option value="analiticService">Servicio de análisis/organización de info./conocimiento</option>
															<option value="serviceSupport">Servicio de apoyo a procesos/procedimientos</option>
															<option value="serviceManage">Servicio de gestión de aprend./trab.indiv./coop./colab.</option> 
															<option value="lecture">Lecturas guiadas</option>
															<option value="lesson">Lección magistral</option>
															<option value="coment-text-image">Comentario de texto-imagen</option>
															<option value="activityArgue">Actividad de discusión</option>
															<option value="closeExercise">Ejercicio o problema cerrado</option>
															<option value="contextualizeCase">Caso contextualizado</option>
															<option value="openProblem">Problema abierto</option>
															<option value="virtual">Escenario real o virtual de aprendizaje</option>
															<option value="didacticPlay">Juego didáctico</option>
															<option value="webquest">Webquest</option>
															<option value="experiment">Experimento</option>
															<option value="realProyect">Proyecto real</option>
															<option value="simulation">Simulación</option>
															<option value="questionnaire">Cuestionario</option>
															<option value="exam">Examen</option>
															<option value="autoEvaluation">Autoevaluación</option>
															<option value="presentationMul">Presentación multimedia</option>
														</select>
													</div>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-xs-12 col-sm-6 mb15">
												<div class="row">
													<div class="col-xs-12 col-sm-4">
														<label class="formAddLom__label" for="useSchema_resource_target">Objetivo de recursos</label>
													</div>
													<div class="col-xs-12 col-sm-8">
														<input class="formAddLom__input" ng-model="useSchema.resource_target" type="text" id="useSchema_resource_target" name="useSchema_resource_target">
													</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 mb15">
												<div class="row">
													<div class="col-xs-12 col-sm-4">
														<label class="formAddLom__label" for="useSchema_resource_context">Contexto</label>
													</div>
													<div class="col-xs-12 col-sm-8">
														<select class="formAddLom__select" ng-model="useSchema.resource_context" type="text" id="useSchema_resource_context" name="useSchema_resource_context">
															<option value="" disabled>Selecciona un contexto</option>												
															<option value="basicEducation">Educación básica</option>
															<option value="highEducation">Educación superior</option>
															<option value="capacity">Capacitación</option>
															<option value="other">Otro</option>
														</select>														
													</div>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-xs-12 col-sm-6 mb15">
												<div class="row">
													<div class="col-xs-12 col-sm-4">
														<label class="formAddLom__label" for="useSchema_resource_difficulty">Dificultad *</label>
													</div>
													<div class="col-xs-12 col-sm-8">
														<select class="formAddLom__select" ng-model="useSchema.resource_difficulty" id="useSchema_resource_difficulty"  type="text" name="useSchema_resource_difficulty" required>
														  <option value="" disabled>Selecciona una dificultad</option>
														  <option value="basic">Básica</option>
														  <option value="medium">Media</option>
														  <option value="advanced">Avanzada</option>
														</select>
													</div>
												</div>
											</div>
										</div>								
									</div>
			        			</fieldset>
			        		</li>
			        	</ul>        		        		
			   	</fieldset>
		        <button ng-if="addingLom" class="btnBq--style2 formAddLom__submit" type="submit" name="sendFormAddLom">Crear Lom</button>
		        <button ng-if="!addingLom" class="btnBq--style2 formAddLom__submit" type="submit" name="sendFormAddLom">Editar Lom</button>
		        <button class="btnBq--style2 formAddLom__cancel" type="button" name="sendFormAddLom" ng-click="backLoms()">Cancelar</button>
			</form>
		</div>
	</div>
</div>
