


<div class="contentAddItem clearfix">
	<div class="contentTitle">
    	<h2 class="h2Class">Nuevo Curso - Secciones - Lecciones</h2>
	</div>
	<div class="asideLeft">
		<ul>
			<li class="asideLeft__element">
				<a href="#" title="Show Options" class="asideLeft__element__link">
					<span class="bbq-align-left bbq-align-left--style1"></span>
				</a>
			</li>
			<li class="asideLeft__element">
				<a class="asideLeft__element__link" href="#" title="Info">
					<span class="bbq-info-1 bbq-info-1--style1"></span>
				</a>
			</li>
		</ul>
	</div>
	<div class="contentAddItem__wrapperAddItem">
	<button ng-click="showNewLesson()" ng-hide="newSection">Nueva Lección</button>
		<form ng-show="newLesson" id="adminCoursesFormSectionLesson" name="adminCoursesFormSectionLesson" class="formAddCourse" ng-submit="addLesson()" novalidate>
	    <fieldset>
	        	<legend class="sr-only">FORMULARIO AGREGAR</legend>
	        	<ul>
					<li>
						<fieldset class="formAddCourse__fieldset">
    						<legend class="formAddCourse__fieldset__legend">
    						<!-- <a class="formAddCourse__fieldset__legend__link" ng-click="showHideFields(5)" href><span ng-class="{'bbq-minus bbq-minus--form':showFieldsSectionsLesson, 'bbq-plus bbq-plus--form': !showFieldsSectionsLesson}"></span></a> -->
    						Lección
    						</legend>
							<div class="formAddCourse__fieldset__contentFields" ng-show="showFieldsSectionsLesson">
								<div class="row">
									<div class="col-xs-12 col-sm-6 mb15">
										<div class="row">
											<div class="col-xs-12 col-sm-6">
												<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_name">Nombre</label>	
											</div>
											<div class="col-xs-12 col-sm-6">
												<input class="formAddCourse__fieldset__contentFields__input" ng-model="lesson.name" type="text" id="sections_lesson_name" name="sections_lesson_name">		
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 mb15">
										<div class="row">
											<div class="col-xs-12 col-sm-4 col-md-3">
												<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_summary">Description</label>
											</div>
											<div class="col-xs-12 col-sm-8 col-md-9">
												<textarea class="formAddCourse__fieldset__contentFields__textArea" ng-model="lesson.summary" type="text" id="sections_lesson_summary" name="sections_lesson_summary"></textarea>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
										<div class="col-xs-12 col-sm-6 mb15">
											<div class="row">
												<div class="col-xs-12 col-sm-6">
													<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_learningPath">Learning Path</label>
												</div>
												<div class="col-xs-12 col-sm-6">
													<input class="formAddCourse__fieldset__contentFields__input" ng-model="lesson.learningPath" type="number" id="sections_lesson_learningPath" name="sections_lesson_learningPath">
												</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6 mb15">
											<div class="row">
												<div class="col-xs-12 col-sm-6">
													<label class="formAddCourse__fieldset__contentFields__label" for="sections_lesson_type">Type</label>
												</div>
												<div class="col-xs-12 col-sm-6">
													<select class="formAddCourse__fieldset__contentFields__input" ng-model="lesson.type" id="sections_lesson_type" type="text" name="sections_lesson_type">
													  	<option>Reinforcement</option>
													  	<option>Essential</option>
									              		<option>Extension</option>
													</select>
												</div>
											</div>
										</div>
								</div>	
								<div class="row">
									<div class="col-xs-12 col-sm-12 mb15">
										<div class="row">
											<div class="col-xs-4 col-sm-3">
												<label class="formAddCourse__fieldset__contentFields__labelLoms" for="sections_lesson_name">Loms</label>	
											</div>
											<div class="col-xs-8 col-sm-4">
												<button class="btnBq--style1 formAddCourse__fieldset__contentFields__btLoms" ng-click="showSelectLoms=!showSelectLoms" ng-hide="showSelectLoms" type="button">Seleccionar loms</button>	
												<button class="btnBq--style1 formAddCourse__fieldset__contentFields__btLoms" ng-click="showSelectLoms=!showSelectLoms" ng-show="showSelectLoms" type="button">Ocultar loms</button>		
											</div>
										</div>
									</div>
								</div>
								<!-- <div class="contentAddItem__wrapperAddItem__level2" ng-show="showSelectLoms"> -->
								<div class="formAddCourse__fieldset__contentFields__selectLoms" ng-show="showSelectLoms">
									<div class="row">
										<div class="col-xs-12 col-sm-4">
											<div class="formAddCourse__fieldset__contentFields__selectLoms__toSelect">
												<p class="formAddCourse__fieldset__contentFields__selectLoms__toSelect__labelSelect" for="sections_name">Seleccionar</p>
												<ul class="formAddCourse__fieldset__contentFields__loms">
													<li class="formAddCourse__fieldset__contentFields__loms__element" ng-repeat="i in lomsAux">
														<a ng-click="selected=!selected; addToListAux(i,selected)" ng-class="{active:selected}" class="formAddCourse__fieldset__contentFields__loms__element__link" href>{{i.general.id_catalog}}</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="col-xs-12 col-sm-4">
											<div class="row">
												<div class="formAddCourse__fieldset__contentFields__selectLoms__options">
													<div class="col-xs-6 col-sm-12">
														<div class="formAddCourse__fieldset__contentFields__selectLoms__options__add clearfix">
														 	<button class="btnBq--style1" ng-click="addToListAdd($event)">Añadir</button>
														</div>
													</div>
													<div class="col-xs-6 col-sm-12">
														<div class="formAddCourse__fieldset__contentFields__selectLoms__options__delete clearfix">
													 		<button class="btnBq--style1" ng-click="removeLomsFromListAdd($event)">Eliminar</button>
														</div>
													</div>		
												</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-4">
											<div class="formAddCourse__fieldset__contentFields__selectLoms__added">
												<p class="formAddCourse__fieldset__contentFields__selectLoms__added__label" for="sections_summary">Añadidos</p>
												<ul class="formAddCourse__fieldset__contentFields__loms">
													<li class="formAddCourse__fieldset__contentFields__loms__element" ng-repeat="i in lomsToAdd">
														<a ng-click="selected=!selected; removeFromListAux(i,selected)" ng-class="{active:selected}" class="formAddCourse__fieldset__contentFields__loms__element__link">{{i.general.id_catalog}}
															<a ng-class="{active:selected}" class="formAddCourse__fieldset__contentFields__loms__element__link__link" ng-click="removeLomFromListAdd(i)" href><span class="bbq-remove bbq-remove--lom" title="Eliminar lom"></span></a>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<!-- </div> -->
								<ng-include src=" 'views/modules/addObjLesson.html' "></ng-include>
							</div>									
						</fieldset>
					</li>				
	        	</ul>        		        		
	    </fieldset>
	    <button class="btnBq--style1 formAddCourse__submit" type="submit" name="sendFormAddCourseSectionLesson">Añadir Lección</button>
	    <button class="btnBq--style2 formAddCourse__end" ng-click="finAddLesson()" type="button">Fin Lecciones</button>
		</form>
	</div>

</div>
