


<div class="contentAddItem clearfix">
	<div class="contentTitle">
    	<h2 class="h2Class">Nuevo Curso - Objetivos</h2>
	</div>
	<div class="asideLeft">
		<ul>
			<li class="asideLeft__element">
				<a href="#" title="Show Options" class="asideLeft__element__link">
					<span class="bbq-align-left bbq-align-left--style1"></span>
				</a>
			</li>
			<li class="asideLeft__element">
				<a class="asideLeft__element__link" href="#" title="Info">
					<span class="bbq-info-1 bbq-info-1--style1"></span>
				</a>
			</li>
		</ul>
	</div>
	<div class="contentAddItem__wrapperAddItem">
	<button ng-click="showNewObjective()" ng-hide="newObjective">Nuevo Objetivo</button>
	<button ng-click="addObjectives()">Fin</button>
		<form ng-show="newObjective" id="adminCoursesFormObjective" name="adminCoursesFormObjective" class="formAddCourse" ng-submit="addNewObjective()">
	    <div ng-switch="objBreadCrumb">
		  <div ng-switch-when="course">
		    <ng-include src=" 'views/modules/objCourse.html' "></ng-include>
		  </div>
		  <div ng-switch-when="section">
		    <ng-include src=" 'views/modules/objSection.html' "></ng-include>
		  </div>
		  <div ng-switch-when="lesson">
		    <ng-include src=" 'views/modules/objLesson.html' "></ng-include>
		  </div>
		</div>
	    <input value="Añadir Objetivo" class="formAddCourse__submit" type="submit" name="sendFormAddObjective"/>
		</form>
	</div>

</div>
