


<div class="contentAddItem clearfix">
	<div class="contentTitle">
    	<h2 class="h2Class">Nuevo Curso - Secciones</h2>
	</div>
	<div class="asideLeft">
		<ul>
			<li class="asideLeft__element">
				<a href="#" title="Show Options" class="asideLeft__element__link">
					<span class="bbq-align-left bbq-align-left--style1"></span>
				</a>
			</li>
			<li class="asideLeft__element">
				<a class="asideLeft__element__link" href="#" title="Info">
					<span class="bbq-info-1 bbq-info-1--style1"></span>
				</a>
			</li>
		</ul>
	</div>
	<div class="contentAddItem__wrapperAddItem" ng-class="{pdt10:!newSection}">
	<button class="btnBq--style1" ng-click="showNewSection()" ng-hide="newSection">Nueva Sección</button>
	<button class="btnBq--style2 formAddCourse__end" ng-click="finAddCourse()" ng-hide="newSection">Fin Curso</button>
		<form ng-show="newSection" id="adminCoursesFormSection" name="adminCoursesFormSection" class="formAddCourse" ng-submit="addSection()"  novalidate>
	    <fieldset>
	        	<legend class="sr-only">FORMULARIO AGREGAR</legend>
	        	<ul>
	        		<li>
	        			<fieldset class="formAddCourse__fieldset">
			        		<legend class="formAddCourse__fieldset__legend"> 
				        		<!-- <a class="formAddCourse__fieldset__legend__link" ng-click="showHideFields(3)" href><span ng-class="{'bbq-minus bbq-minus--form':showFieldsSections, 'bbq-plus bbq-plus--form': !showFieldsSections}"></span></a> -->
				        		Secciones
			        		</legend>
							<ng-include src=" 'views/modules/addNewSection.html' "></ng-include>
	        			</fieldset>
	        		</li>
	        	</ul>        		        		
	    </fieldset>
	    <button class="btnBq--style1 formAddCourse__submit mr10" type="submit" name="sendFormAddCourseSection">Añadir Sección</button>
		<button class="btnBq--style2 formAddCourse__end" ng-click="finAddCourse()">Fin Curso</button>
		</form>
	</div>

</div>
