


<div class="contentAddItem clearfix">
	<div class="contentTitle">
    	<h2 class="h2Class">Nuevo Curso - Secciones</h2>
	</div>
	<div class="asideLeft">
		<ul>
			<li class="asideLeft__element">
				<a href="#" title="Show Options" class="asideLeft__element__link">
					<span class="bbq-align-left bbq-align-left--style1"></span>
				</a>
			</li>
			<li class="asideLeft__element">
				<a class="asideLeft__element__link" href="#" title="Info">
					<span class="bbq-info-1 bbq-info-1--style1"></span>
				</a>
			</li>
		</ul>
	</div>
	<div class="contentAddItem__wrapperAddItem">
	<button ng-click="showNewSection()" ng-hide="newSection">Nueva Sección</button>
	<button>Fin</button>
		<form ng-show="newSection" id="adminCoursesForm" name="adminCoursesForm" class="formAddCourse" ng-submit="addSection()"  novalidate>
	    <fieldset>
	        	<legend class="sr-only">FORMULARIO AGREGAR</legend>
	        	<ul>
	        		<li>
	        			<fieldset class="formAddCourse__fieldset">
			        		<legend class="formAddCourse__fieldset__legend"> 
				        		<a class="formAddCourse__fieldset__legend__link" ng-click="showHideFields(3)" href><span ng-class="{'bbq-minus bbq-minus--form':showFieldsSections, 'bbq-plus bbq-plus--form': !showFieldsSections}"></span></a>
				        		Secciones
			        		</legend>
							<div class="formAddCourse__fieldset__contentFields" ng-show="showFieldsSections">
								<div class="row">
									<div class="col-xs-12 col-sm-6 mb15">
										<div class="row">
											<div class="col-xs-12 col-sm-6">
												<label for="sections_name">Name</label>
											</div>
											<div class="col-xs-12 col-sm-6">
												<input ng-model="sections.name" type="text" id="sections_name" name="sections_name"/>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 mb15">
										<div class="row">
											<div class="col-xs-12 col-sm-6">
												 <label for="sections_summary">Summary</label>
											</div>
											<div class="col-xs-12 col-sm-6">
												<input ng-model="sections.summary" type="text" id="sections_summary" name="sections_summary"/>
											</div>
										</div>
									</div>
								</div>
								<ul>
									<li>
										<fieldset class="formAddCourse__fieldset__level2">
			        						<legend class="formAddCourse__fieldset__level2__legend"><a class="formAddCourse__fieldset__legend__link" ng-click="showHideFields(4)" href><span ng-class="{'bbq-minus bbq-minus--form':showFieldsSectionsObj, 'bbq-plus bbq-plus--form': !showFieldsSectionsObj}"></span></a>Objetivos</legend>
				        					<div class="formAddCourse__fieldset__contentFields" ng-show="showFieldsSectionsObj">
												<div class="row">
													<div class="col-xs-12 col-sm-6 mb15">
														<div class="row">
															<div class="col-xs-12 col-sm-6">
																<label for="sections_objectives_code">Code</label>	
															</div>
															<div class="col-xs-12 col-sm-6">
																<input ng-model="sections.objectives.code" type="text" id="sections_objectives_code" name="sections_objectives_code">		
															</div>
														</div>
													</div>
													<div class="col-xs-12 col-sm-6 mb15">
														<div class="row">
															<div class="col-xs-12 col-sm-6">
																<label for="sections_objectives_description">Description</label>
															</div>
															<div class="col-xs-12 col-sm-6">
																<input ng-model="sections.objectives.description" type="text" id="sections_objectives_description" name="sections_objectives_description">
															</div>
														</div>
													</div>
												</div>	
												<div class="row">
													<div class="col-xs-12 col-sm-6 mb15">
														<div class="row">
															<div class="col-xs-12 col-sm-6">
																<label for="sections_objectives_level">Level</label>
															</div>
															<div class="col-xs-12 col-sm-6">
																<input ng-model="sections.objectives.level" type="number" id="sections_objectives_level" name="sections_objectives_level">
															</div>
														</div>
													</div>
													<div class="col-xs-12 col-sm-6 mb15">
														<div class="row">
															<div class="col-xs-12 col-sm-6">
																<label for="sections_objectives_bloom">Type</label>
															</div>
															<div class="col-xs-12 col-sm-6">
																<select ng-model="sections.objectives.bloom" id="sections_objectives_bloom" type="text" name="sections_objectives_bloom">
																  	<option>knowledge</option>
																  	<option>comprehension</option>
											                  <option>application</option>
											                  <option>analysis</option>
											                  <option>sintehsis</option>
											                  <option>evaluation</option>
																</select>
															</div>
														</div>
													</div>
												</div>	
											</div>							
		        						</fieldset>
									</li>
									<li>
										<fieldset class="formAddCourse__fieldset__level2">
			        						<legend class="formAddCourse__fieldset__level2__legend"><a class="formAddCourse__fieldset__legend__link" ng-click="showHideFields(5)" href><span ng-class="{'bbq-minus bbq-minus--form':showFieldsSectionsLesson, 'bbq-plus bbq-plus--form': !showFieldsSectionsLesson}"></span></a>Lección</legend>
		        							<div class="formAddCourse__fieldset__contentFields" ng-show="showFieldsSectionsLesson">
												<div class="row">
													<div class="col-xs-12 col-sm-6 mb15">
														<div class="row">
															<div class="col-xs-12 col-sm-6">
																<label for="sections_lesson_name">Nombre</label>	
															</div>
															<div class="col-xs-12 col-sm-6">
																<input ng-model="sections.lesson.name" type="text" id="sections_lesson_name" name="sections_lesson_name">		
															</div>
														</div>
													</div>
													<div class="col-xs-12 col-sm-6 mb15">
														<div class="row">
															<div class="col-xs-12 col-sm-6">
																<label for="sections_lesson_summary">Description</label>
															</div>
															<div class="col-xs-12 col-sm-6">
																<input ng-model="sections.lesson.summary" type="text" id="sections_lesson_summary" name="sections_lesson_summary">
															</div>
														</div>
													</div>
												</div>
												<fieldset class="formAddCourse__fieldset__level3">
							        				<legend class="formAddCourse__fieldset__level3__legend"><a class="formAddCourse__fieldset__legend__link" ng-click="showHideFields(6)" href><span ng-class="{'bbq-minus bbq-minus--form':showFieldsSectionsLessonObj, 'bbq-plus bbq-plus--form': !showFieldsSectionsLessonObj}"></span></a>Objetivos</legend>
							        				<div class="formAddCourse__fieldset__contentFields" ng-show="showFieldsSectionsLessonObj">
														<div class="row">
															<div class="col-xs-12 col-sm-6 mb15">
																<div class="row">
																	<div class="col-xs-12 col-sm-6">
																		<label for="sections_lesson_objectives_code">Code</label>	
																	</div>
																	<div class="col-xs-12 col-sm-6">
																		<input ng-model="sections.lesson.objectives.code" type="text" id="sections_lesson_objectives_code" name="sections_lesson_objectives_code">		
																	</div>
																</div>
															</div>
															<div class="col-xs-12 col-sm-6 mb15">
																<div class="row">
																	<div class="col-xs-12 col-sm-6">
																		<label for="sections_lesson_objectives_description">Description</label>
																	</div>
																	<div class="col-xs-12 col-sm-6">
																		<input ng-model="sections.lesson.objectives.description" type="text" id="sections_lesson_objectives_description" name="sections_lesson_objectives_description">
																	</div>
																</div>
															</div>
														</div>
														
														<div class="row">
															<div class="col-xs-12 col-sm-6 mb15">
																<div class="row">
																	<div class="col-xs-12 col-sm-6">
																		<label for="sections_lesson_objectives_level">Level</label>
																	</div>
																	<div class="col-xs-12 col-sm-6">
																		<input ng-model="sections.lesson.objectives.level" type="number" id="sections_lesson_objectives_level" name="sections_lesson_objectives_level">
																	</div>
																</div>
															</div>
															<div class="col-xs-12 col-sm-6 mb15">
																<div class="row">
																	<div class="col-xs-12 col-sm-6">
																		<label for="sections_lesson_objectives_bloom">Type</label>
																	</div>
																	<div class="col-xs-12 col-sm-6">
																		<select ng-model="sections.lesson.objectives.bloom" id="sections_lesson_objectives_bloom" type="text" name="sections_lesson_objectives_bloom">
																		  <option>knowledge</option>
																		  <option>comprehension</option>
														                  <option>application</option>
														                  <option>analysis</option>
														                  <option>sintehsis</option>
														                  <option>evaluation</option>
																		</select>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</fieldset>
												<div class="row">
													<div class="col-xs-12 col-sm-12 mb15">
														<div class="row">
															<div class="col-xs-12 col-sm-3">
																<label for="sections_lesson_name">Loms</label>	
															</div>
															<div class="col-xs-12 col-sm-4">
																<button class="btn btn-primary" ng-click="panelSelectLom()">Seleccionar loms</button>		
															</div>
															<div class="col-xs-12 col-sm-5">
																<input ng-model="sections.lesson.name" type="text" id="sections_lesson_name" name="sections_lesson_name">		
															</div>
														</div>
													</div>
												</div>
												<div class="formAddCourse__fieldset__contentFields bgGreenLight" ng-show="showSelectLoms">
													<div class="row">
														<div class="col-xs-12 col-sm-6 mb15">
															<div class="row">
																<div class="col-xs-12 col-sm-6">
																	<label for="sections_name">Seleccionar</label>
																</div>
																<div class="col-xs-12 col-sm-6">
																		<ul class="formAddCourse__fieldset__contentFields__loms">
																			<li class="formAddCourse__fieldset__contentFields__loms__element" ng-repeat="i in lomsAux">
																				<a ng-click="selected=!selected; addToListAux(i,selected)" ng-class="{active:selected}" class="formAddCourse__fieldset__contentFields__loms__element__link" href>{{i.general.id_catalog}}</a>
																			</li>
																		</ul>
																</div>
															</div>
														</div>
														<div class="col-xs-12 col-sm-6 mb15">
															<div class="row">
																<div class="col-xs-12 col-sm-6">
																	 <label for="sections_summary">Añadidos</label>
																	 <ul>
																	 	<li>
																	 		<button ng-click="addToListAdd()">Añadir</button>
																	 	</li>
																	 	<li>
																	 		<button ng-click="removeLomsFromListAdd()">Eliminar</button>
																	 	</li>
																	 </ul>
																</div>
																<div class="col-xs-12 col-sm-6">
																	<ul class="formAddCourse__fieldset__contentFields__loms">
																			<li class="formAddCourse__fieldset__contentFields__loms__element" ng-repeat="i in lomsToAdd">
																				<a ng-click="selected=!selected; removeFromListAux(i,selected)" ng-class="{active:selected}" class="formAddCourse__fieldset__contentFields__loms__element__link">{{i.general.id_catalog}}
																					<a class="formAddCourse__fieldset__contentFields__loms__element__link__link" ng-click="removeLomFromListAdd(i)" href><span class="bbq-remove bbq-remove--lom" title="Eliminar lom"></span></a>
																				</a>
																			</li>
																		</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>									
						        </fieldset>
									</li>
								</ul>
								<div class="row">
									<div class="col-xs-12 col-sm-6 mb15">
										<div class="row">
											<div class="col-xs-12 col-sm-6">
												<label for="sections_lesson_learningPath">Learning Path</label>
											</div>
											<div class="col-xs-12 col-sm-6">
												<input ng-model="sections.lesson.learningPath" type="number" id="sections_lesson_learningPath" name="sections_lesson_learningPath">
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 mb15">
										<div class="row">
											<div class="col-xs-12 col-sm-6">
												<label for="sections_lesson_type">Type</label>
											</div>
											<div class="col-xs-12 col-sm-6">
												<select ng-model="sections.lesson.type" id="sections_lesson_type" type="text" name="sections_lesson_type">
												  <option>Reinforcement</option>
												  <option>Essential</option>
								              <option>Extension</option>
												</select>
											</div>
										</div>
									</div>
								</div>								
							</div>
	        			</fieldset>
	        		</li>
	        	</ul>        		        		
	    </fieldset>
	    <input value="Añadir Sección" class="formAddCourse__submit" type="submit" name="sendFormAddCourse"/>
		</form>
	</div>

</div>
