


<div class="contentAddItem clearfix">
	<div class="contentTitle">
    	<h2 class="h2Class">Nuevo Curso - Secciones</h2>
	</div>
	<div class="asideLeft">
		<ul>
			<li class="asideLeft__element">
				<a href="#" title="Show Options" class="asideLeft__element__link">
					<span class="bbq-align-left bbq-align-left--style1"></span>
				</a>
			</li>
			<li class="asideLeft__element">
				<a class="asideLeft__element__link" href="#" title="Info">
					<span class="bbq-info-1 bbq-info-1--style1"></span>
				</a>
			</li>
		</ul>
	</div>
	<div class="contentAddItem__wrapperAddItem">
	<button class="btnBq--form" ng-click="showNewSection()" ng-hide="newSection">Nueva Sección</button>
	<button class="btnBq--form" ng-click="finAddCourse()">Fin</button>
		<form ng-show="newSection" id="adminCoursesFormSection" name="adminCoursesFormSection" class="formAddCourse" ng-submit="addSection()"  novalidate>
	    <fieldset>
	        	<legend class="sr-only">FORMULARIO AGREGAR</legend>
	        	<ul>
	        		<li>
	        			<fieldset class="formAddCourse__fieldset">
			        		<legend class="formAddCourse__fieldset__legend"> 
				        		<a class="formAddCourse__fieldset__legend__link" ng-click="showHideFields(3)" href><span ng-class="{'bbq-minus bbq-minus--form':showFieldsSections, 'bbq-plus bbq-plus--form': !showFieldsSections}"></span></a>
				        		Secciones
			        		</legend>
							<div class="formAddCourse__fieldset__contentFields" ng-show="showFieldsSections">
								<div class="row">
									<div class="col-xs-12 col-sm-6 mb15">
										<div class="row">
											<div class="col-xs-12 col-sm-6">
												<label for="sections_name">Name</label>
											</div>
											<div class="col-xs-12 col-sm-6">
												<input ng-model="sections.name" type="text" id="sections_name" name="sections_name"/>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 mb15">
										<div class="row">
											<div class="col-xs-12 col-sm-6">
												 <label for="sections_summary">Summary</label>
											</div>
											<div class="col-xs-12 col-sm-6">
												<input ng-model="sections.summary" type="text" id="sections_summary" name="sections_summary"/>
											</div>
										</div>
									</div>
								</div>							
							</div>
	        			</fieldset>
	        		</li>
	        		<li>
	        			<ng-include src=" 'views/modules/addObjSection.html' "></ng-include>
	        		</li>
	        	</ul>        		        		
	    </fieldset>
	    <input value="Añadir Sección" class="formAddCourse__submit" type="submit" name="sendFormAddCourseSection"/>
		</form>
	</div>

</div>
