<div class="contentAdminCourses">
	<ng-include ng-show="coursesPage" src=" 'views/pages/courses.html' "></ng-include>
	<ng-include ng-show="coursePage" src=" 'views/pages/course.html' "></ng-include>
	<ng-include ng-show="objectivesPage" src=" 'views/pages/objectives.html' "></ng-include>

	<div class="wrapperLinkCourses"> 
		<h3 class="h3Class wrapperLinkCourses__title">Explora y Aprende</h3>
		<ul class="row wrapperLinkCourses__list">
			<li class="col-xs-12 col-sm-6 col-md-4 wrapperLinkCourses__list__element">
				<a ng-click="managementCoursesViews('totalCoursesPage')" ng-class="{'disabled':totalCoursesPage}" class="wrapperLinkCourses__list__element__link" href>
					<img class="wrapperLinkCourses__list__element__link__img" src="../../assets/images/courses/coursesTypes.png">
					<p class="wrapperLinkCourses__list__element__link__subtitle">Total de Cursos</p>
					<p class="wrapperLinkCourses__list__element__link__description">¡Ver todos los cursos!</p>
				</a>
			</li>
			<li ng-show="userRole=='student'" class="col-xs-12 col-sm-6 col-md-4 wrapperLinkCourses__list__element">
				<a ng-class="{'disabled':enrolledCoursesPage}" class="wrapperLinkCourses__list__element__link" ng-click="managementCoursesViews('enrolledCoursesPage')" href>
					<img class="wrapperLinkCourses__list__element__link__img" src="../../assets/images/courses/coursesTypes.png">
					<p class="wrapperLinkCourses__list__element__link__subtitle">Cursos Matriculados</p>
					<p class="wrapperLinkCourses__list__element__link__description">¡Ver todos los cursos en los que estás matriculado!</p>
				</a>
			</li>
			<li ng-show="userRole=='teacher'" class="col-xs-12 col-sm-6 col-md-4 wrapperLinkCourses__list__element">
				<a ng-class="{disabled:coursesTeacherPage}" ng-click="managementCoursesViews('coursesTeacherPage')" class="wrapperLinkCourses__list__element__link" href>
					<img class="wrapperLinkCourses__list__element__link__img" src="../../assets/images/courses/coursesTypes.png">
					<p class="wrapperLinkCourses__list__element__link__subtitle">Mis Cursos Creados</p>
					<p class="wrapperLinkCourses__list__element__link__description">¡Ver todos los cursos has creado!</p>
				</a>
			</li>
			<li class="col-xs-12 col-sm-6 col-md-4 wrapperLinkCourses__list__element">
				<a ng-class="{'disabled':lastIncludedCoursesPage}" class="wrapperLinkCourses__list__element__link" ng-click="managementCoursesViews('lastIncludedCoursesPage')" href>
					<img class="wrapperLinkCourses__list__element__link__img" src="../../assets/images/courses/coursesTypes.png">
					<p class="wrapperLinkCourses__list__element__link__subtitle">Novedades</p>
					<p class="wrapperLinkCourses__list__element__link__description">¡No te pierdas los cursos más actualizados! ¡Matricúlate!</p>
				</a>
			</li>	
			<li class="col-xs-12 col-sm-6 col-md-4 wrapperLinkCourses__list__element">
				<a ng-class="{'disabled':relatedCoursesPage}" class="wrapperLinkCourses__list__element__link" ng-click="managementCoursesViews('relatedCoursesPage')" href>
					<img class="wrapperLinkCourses__list__element__link__img" src="../../assets/images/courses/coursesTypes.png">
					<p class="wrapperLinkCourses__list__element__link__subtitle">Cursos Relacionados</p>
					<p class="wrapperLinkCourses__list__element__link__description">¡No te pierdas los cursos más clásicos! ¡Matricúlate!</p>
				</a>
			</li>
			<li class="col-xs-12 col-sm-6 col-md-4 wrapperLinkCourses__list__element">
				<a class="wrapperLinkCourses__list__element__link" ng-class="{'disabled':relatedCoursesPage}" href>
					<img class="wrapperLinkCourses__list__element__link__img" src="../../assets/images/courses/coursesTypes.png">
					<p class="wrapperLinkCourses__list__element__link__subtitle">Cursos Inactivos</p>
					<p class="wrapperLinkCourses__list__element__link__description">¡Cursos actualmente inactivos!</p>
				</a>
			</li>	
			<li class="col-xs-12 col-sm-6 col-md-4 wrapperLinkCourses__list__element">
				<a ng-class="{disabled:completedCoursesPage}" ng-click="managementCoursesViews('completedCoursesPage')" class="wrapperLinkCourses__list__element__link" href>
					<img class="wrapperLinkCourses__list__element__link__img" src="../../assets/images/courses/coursesTypes.png">
					<p class="wrapperLinkCourses__list__element__link__subtitle">Cursos Completados</p>
					<p class="wrapperLinkCourses__list__element__link__description">¡Ver todos los cursos ya completados!</p>
				</a>
			</li>
		</ul>
	</div>
</div>