<div ng-show="coursePage" class="wrapperCourse">
	<div class="wrapperCourse__header">
		<div class="row">
			<div class="col-xs-12 col-sm-7">
				<div class="wrapperCourse__header__contentImg">
					<img class="wrapperCourse__header__contentImg__img" src="../../assets/images/common/tecnologia-programacion-robotica-1170x320.jpg" alt="">
				</div>
			</div>
			<div class="col-xs-12 col-sm-5">
				<div class="wrapperCourse__header__info">
					<h2 class="wrapperCourse__header__info__title">{{courseSelected.name}}</h2>
					<p class="wrapperCourse__header__info__description">por determinar...</p>
					<button class="wrapperCourse__header__info__link btnBq--style1 center" ng-click="newActivity()" type="button">Nueva actividad <span></span></button>
				</div>
				<button class="btnBq--withIcon btnBig" ng-click="enrollStudent(activeUser._id,courseSelected._id)" type="button">MATRICÚLATE</button>
			</div>
		</div>
		
	</div>
	<div class="wrapperCourse__lessons" ng-class="{true:courseDisabled}">
		<h3 class="wrapperCourse__lessons__title">Descripción del curso</h3>
		<p class="wrapperCourse__lessons__description">{{courseSelected.summary}}</p>
		<p class="wrapperCourse__lessons__subTitle">Contenidos</p>
		<ul class="wrapperCourse__lessons__contentLessons">
			<li class="wrapperCourse__lessons__contentLessons__element" ng-repeat="lesson_i in lessonsSelected">	
				<div class="row">
					<div class="col-xs-12 col-sm-3">
						<img class="wrapperCourse__lessons__contentLessons__element__img" src="../../assets/images/common/scratch-01-270x190.jpg" alt="">	
					</div>
					<div class="col-xs-12 col-sm-9">
						<a class="wrapperCourse__lessons__contentLessons__element__link" ng-click="goLesson(lesson_i,$index + 1)" href>
							<div class="wrapperCourse__lessons__contentLessons__element__link__info">
								<h4 class="wrapperCourse__lessons__contentLessons__element__link__info__title">Lección {{lesson_i.name}}</h4>
								<p class="wrapperCourse__lessons__contentLessons__element__link__info__subtitle">Antes de empezar con Bitbloq 2</p>
								<p class="wrapperCourse__lessons__contentLessons__element__link__info__description">Primeros pasos con bitbloq 2 antes de empezar a programar</p>
							</div>
							<span class="bbq-arrow-go bbq-arrow-go--lesson"></span>
						</a>
					</div>
				</div>
			</li>
		</ul>
		
	</div>
</div>