<div class="contentAdminCourses">
        <div class="contentTitle">
            <h2 class="h2Class">Recursos Cursos </h2>
        </div>
        <div class="contentAdminCourses__contentCourses mb20">
            <div class="row">
                <div class="col-xs-12 col-sm-2">
                    <div class="viewOptions clearfix">
                        <a class="viewOptions__byIcon" href="#">
                            <span class="bbq-thumbnails bbq-thumbnails--style"></span>
                        </a>
                        <a class="viewOptions__byList" href="">
                            <span class="bbq-list bbq-list--style"></span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-10">
                    <form class="contentAdminCourses__contentCourses__viewOptionsfilterSearch">
                        <div class="row">
                            <div class="col-xs-6 col-sm-9">
                                <select class="contentAdminCourses__contentCourses__viewOptionsfilterSearch__filter">
                                    <option selected="" disabled value="0">Filtrar por:</option>
                                </select>  
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <div class="contentAdminCourses__contentCourses__viewOptionsfilterSearch__search">
                                    <input placeholder="Buscar ..." class="contentAdminCourses__contentCourses__viewOptionsfilterSearch__search__input" type="text" name="searchCourse"> 
                                    <span class="bbq-search bbq-search--Courses"></span>   
                                </div>  
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <ul class="contentAdminCourses__contentCourses__wrapperCourses">
                        <li ng-repeat="i in Courses">
                            <img src="">
                            <div>
                                
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- <table>
            <caption>Tabla de administración de cursos</caption>
            <colgroup>
                <col class="size10">
                <col class="size10">    
                <col class="size10">    
                <col class="size5"> 
                <col class="size5">
                <col class="size30">
                <col class="size30">        
            </colgroup>
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>CODE</th>
                    <th>SUMMARY</th>
                    <th>OBJECTIVES</th>
                    <th>STATISTICS</th>
                    <th>OPCIONES</th>
                    <th>HERRAMIENTAS</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="i in courses">
                    <td>{{i.name}}</td>
                    <td>{{i.code}}</td>
                    <td>{{i.summary}}</td>
                    <td>
                        <ul>
                            <li><span>code: {{i.objectives.code}}</span></li>
                            <li><span>description: {{i.objectives.description}}</span></li>
                            <li><span>level: {{i.objectives.level}}</span></li>
                            <li><span>bloom: {{i.objectives.bloom}}</span></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><span>std_enrolled: {{i.statistic.std_enrolled}}</span></li>
                            <li><span>std_finished: {{i.statistic.std_finished}}</span></li>
                            <li><span>std_unenrolled: {{i.statistic.std_unenrolled}}</span></li>
                        </ul>
                    </td>
                    <td>
                        <ul class="contentOptions">
                            <li><button disabled>Contenido</button></li>
                            <li><button ng-click="showInfoCourse(i)">Información</button></li>
                            <li><button disabled>Estadísticas</button></li>
                        </ul>
                    </td>
                    <td>
                        <ul class="contentOptions">
                            <li><button ng-click="showEditCourseForm(i)">Editar</button></li>
                            <li><button ng-click="removeCourse(i._id)">Eliminar</button></li>
                            <li><button disabled>Descargar</button></li>
                            <li><button disabled>Empaquetar</button></li>
                            <li><button disabled>Evaluar y comentar</button></li>
                            <li><button disabled>Copiar</button></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table> -->

        
        <div class="contentAdminCourses__options">
            <a class="contentAdminCourses__options__link" ng-click="goAddCourse()" herf><span title="Agregar Curso" class="bbq-page-add bbq-page-add--style1"></span></a>
            <a class="contentAdminCourses__options__link" ng-click="deleteAllCourses($event)" herf><span title="Eliminar todos los cursos" class="bbq-page-remove bbq-page-remove--style1"></span></a>
        </div>
            
      
        <!-- <button class="btnBq--style1" disabled>Agregar con Asistente</button>
        <button class="btnBq--style1" disabled>Regresar</button> -->

        <div class="contentInfoCourse" ng-show="InfoCourse">
            <div>
                <h3 class="h3Class">General</h3>
                <span class="attr">Name</span>
                <span>{{courseName}}</span>
                <span class="attr">Code</span>
                <span>{{courseCode}}</span>
                <span class="attr">Summary</span>
                <span>{{courseSummary}}</span>
            </div>
            <div>
                <h3 class="h3Class">Objectives</h3>
                <span class="attr">Code</span>
                <span>{{objectives.code}}</span>
                <span class="attr">Description</span>
                <span>{{objectives.description}}</span>
                <span class="attr">Level</span>
                <span>{{objectives.level}}</span>
                <span class="attr">Type</span>
                <span>{{objectives.bloom}}</span>
            </div>
            <div>
                <h3 class="h3Class">Statistics</h3>
                <span class="attr">Std_enrolled</span>
                <span>{{statistics.std_enrolled}}</span>
                <span class="attr">Std_finished</span>
                <span>{{statistics.std_finished}}</span>
                <span class="attr">std_unenrolled</span>
                <span>{{statistics.std_unenrolled}}</span>
            </div>
            <div>
                <span class="attr">History</span>
                <span>{{courseHistory}}</span>
            </div>
            <button ng-click="hideInfoCourse()">Ocultar</button>
        </div>
    
</div>

