


<div class="contentAddItem clearfix">
	<div class="contentTitle">
    	<h2 class="h2Class">EDITAR CURSO - {{courseSelected.name}}</h2>
	</div>
	<div class="contentAsideWrapper clearfix">
		<div class="asideLeft">
			<ul>
				<li class="asideLeft__element">
					<a href="#" title="Show Options" class="asideLeft__element__link">
						<span class="bbq-align-left bbq-align-left--style1"></span>
					</a>
				</li>
				<li class="asideLeft__element">
					<a class="asideLeft__element__link" href="#" title="Info">
						<span class="bbq-info-1 bbq-info-1--style1"></span>
					</a>
				</li>
			</ul>
		</div>
		<div class="contentAddItem__wrapperAddItem">
			<form id="adminCoursesForm" name="coursesEditForm" class="formAddCourse" ng-submit="editCourse(courseSelected)"  novalidate>
		    <fieldset>
		        	<legend class="sr-only">FORMULARIO AGREGAR</legend>
		        	<ul>
		        		<li>
		        			<fieldset class="formAddCourse__fieldset">
				        		<legend class="formAddCourse__fieldset__legend"> 
					        		<!-- <a class="formAddCourse__fieldset__legend__link" ng-click="showHideFields(1)" href><span ng-class="{'bbq-minus bbq-minus--form':showFieldsGeneral, 'bbq-plus bbq-plus--form': !showFieldsGeneral}"></span></a> -->
					        		General
				        		</legend>
								<div class="formAddCourse__fieldset__contentFields" ng-show="showFieldsGeneral">
									<div class="row">
										<div class="col-xs-12 col-sm-6 mb15">
											<div class="row">
												<div class="col-xs-12 col-sm-6">
													<label class="formAddCourse__fieldset__contentFields__label" for="course_name">Name</label>
												</div>
												<div class="col-xs-12 col-sm-6">
													<input class="formAddCourse__fieldset__contentFields__input" ng-model="editCourseName" type="text" id="course_name" name="course_name" value="{{courseSelected.name}}" required>
												</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6 mb15">
											<div class="row">
												<div class="col-xs-12 col-sm-6">
													<label class="formAddCourse__fieldset__contentFields__label" for="course_code">Code</label>	
												</div>
												<div class="col-xs-12 col-sm-6">
													<input class="formAddCourse__fieldset__contentFields__input" ng-model="editCourseCode" type="text" id="course_code" name="course_code">		
												</div>
											</div>
										</div>
									</div>
									<div class="row"> 
										<div class="col-xs-12 col-sm-6 mb15">
											<div class="row">
												<div class="col-xs-12 col-sm-6">
													<label class="formAddCourse__fieldset__contentFields__label" for="course_summary">Summary</label>
												</div>
												<div class="col-xs-12 col-sm-6">
													<input class="formAddCourse__fieldset__contentFields__input" ng-model="editCourseSummary" type="text" id="course_summary" name="course_summary">
												</div>
											</div>
										</div>	
									</div>
									<div class="contentAddItem clearfix">
										<ng-include src=" 'views/modules/editObjectivesCourse.html' "></ng-include>
										<ng-include src=" 'views/modules/editSections.html' "></ng-include>
									</div>
								</div>
		        			</fieldset>
		        		</li>
		        	</ul>        		        		
		    </fieldset>
		    <button class="btnBq--style2 formAddCourse__submit" type="submit" name="sendFormAddCourse">Guardar Cambios</button>   
			</form>
		</div>
	</div>

</div>
