<div class="wrapperLesson">
	<div class="contentTitle">
        <h2 class="h2Class">Lección {{indexLessonSelected}}: {{lessonSelected.name}} </h2>
    </div>
	<div class="wrapperLesson__options">
	    	<div class="wrapperLesson__options__ok">
	    		<a class="wrapperLesson__options__ok__link" href><span class="bbq-ok2 bbq-ok2--lesson"></span></a>
	    	</div>
    		<div class="wrapperLesson__options__nok">
				<a class="wrapperLesson__options__ok__link" href><span class="bbq-nok bbq-nok--lesson"></span></a>
			</div>
    		<div class="wrapperLesson__options__wait">
				<a class="wrapperLesson__options__ok__link" href><span class="bbq-cloud bbq-cloud--lesson"></span></a>
			</div>
	</div>
	<div class="wrapperLesson__contentBody clearfix">
		<object class="width100" type="text/html" data="http://diwo.bq.com/antes-de-empezar-con-bitbloq-2/" width="330 px" height="860 px">
		<!-- <ng-include src=" 'http://diwo.bq.com/antes-de-empezar-con-bitbloq-2/' "></ng-include>  -->
	 </div>
</div>
