	
<div class="contentSignUp">

	<div class="contentSignUp__wrapperContent">

	<div class="wrapperCourse__header">
		<div class="col-xs-12 col-sm-7">
			<div class="wrapperCourse__header__contentImg center">
						<img class="wrapperCourse__header__contentImg__img" src="../../logo_botbloq.png" alt="logo">
			</div>
		</div>
	</div>
		<h2 class="contentSignUp__wrapperContent__title">Botbloq - Sistema Tutor Inteligente</h2>
		<form class="contentSignUp__wrapperContent__form" name="signUpForm" ng-submit="login()">
			<div class="contentRow">
				<div class="row">
					<div class="col-xs-12">
						<div class="contentCol clearfix">
							<label class="contentSignUp__wrapperContent__form__label">
								Usuario
							</label>
							<input class="contentSignUp__wrapperContent__form__input" ng-model="user.name" type="text" name="" placeholder="Nombre de usuario" />
							<span class=""></span>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="contentCol clearfix">
							<label class="contentSignUp__wrapperContent__form__label">
								Password
							</label>
							<input class="contentSignUp__wrapperContent__form__input" ng-model="password" type="password" name="" placeholder="Password"/>
							<span class=""></span>
						</div>
					</div>
				</div>
			</div>
			<div class="contentSignUp__wrapperContent__form__optionsCheck">
				<div class="contentSignUp__wrapperContent__form__optionsCheck__content clearfix">
					<input class="contentSignUp__wrapperContent__form__optionsCheck__content__checkBox" type="checkbox" ng-model="teacher" />
					<label class="contentSignUp__wrapperContent__form__label">Soy profesor</label>
				</div>
			</div>
			<div class="contentSignUp__wrapperContent__form__contentSubmit">
				<button class="contentSignUp__wrapperContent__form__contentSubmit__button btnBq--withIcon width100" accesskey="intro" type="submit">Entrar</button>
			</div>
				
		</form>
	</div>
	<div class="contentSignUp__info">
		<p class="contentSignUp__info__text">
			<a class="contentSignUp__info__text" ng-href="#!/signUp">Crear una cuenta</a>
		</p>
	</div>

	
</div>