<div class="login-view">
    <div class="row">
        <h4>LOGIN</h4>
        <form name="userForm">
            <div class="form-group" ng-class="{ 'has-error': userForm.name.$invalid }">
                <input type="text" class="form-control" name="name" ng-model="user.name" required>
            </div>
            <div class="form-group" ng-class="{ 'has-error': userForm.password.$invalid }">
                <input type="password" class="form-control" name="password" ng-model="user.password" required>
            </div>
            <button class="btn btn-primary" ng-click="save()">Agregar Usuario</button>
            <button class="btn btn-link" ng-click="reset()">Resetear</button>
        </form>
    </div>
</div>