<div class="contentAdminLoms">
        <div class="contentTitle">
            <h2 class="h2Class">Recursos - Objetos de Aprendizaje </h2>
        </div>
        <div class="contentAdminLoms__contentLoms mb20">
            <div class="row">
                <div class="col-xs-12 col-sm-2">
                    <div class="viewOptions clearfix">
                        <a class="viewOptions__byIcon" href="#">
                            <span class="bbq-thumbnails bbq-thumbnails--style"></span>
                        </a>
                        <a class="viewOptions__byList" href="">
                            <span class="bbq-list bbq-list--style"></span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-10">
                    <form class="contentAdminLoms__contentLoms__viewOptionsfilterSearch">
                        <div class="row">
                            <div class="col-xs-6 col-sm-9">
                                <select class="contentAdminLoms__contentLoms__viewOptionsfilterSearch__filter">
                                    <option selected="" disabled value="0">Filtrar por:</option>
                                </select>  
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <div class="contentAdminLoms__contentLoms__viewOptionsfilterSearch__search">
                                    <input placeholder="Buscar ..." class="contentAdminLoms__contentLoms__viewOptionsfilterSearch__search__input" type="text" name="searchLom"> 
                                    <span class="bbq-search bbq-search--loms"></span>   
                                </div>  
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
            <div class="contentAdminLoms__contentLoms__list">
                <ul class="row">
                    <li ng-repeat="i in loms" class="col-xs-12 col-sm-4">
                        <div class="contentAdminLoms__contentLoms__list__wrapperLom">
                            <div class="contentAdminLoms__contentLoms__list__wrapperLom__lom">
                                <img class="contentAdminLoms__contentLoms__list__wrapperLom__lom__img" src="http://lorempixel.com/animals/200/200/">
                                <div class="contentAdminLoms__contentLoms__list__wrapperLom__lom__info">
                                    <p class="titleInfoLom">{{i.general.id_catalog}}</p>
                                    <p class="originInfoLom">de 
                                        <a href="#" title="User">
                                            <span class="originInfoLom__user">{{i._id}}</span>
                                        </a>
                                    </p>
                                    <div class="contentAdminLoms__contentLoms__list__wrapperLom__lom__info__viewsInfoLom">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>


        </div>

		<!-- <table>
            <caption>Tabla de administración de recursos</caption>
            <colgroup>
                <col class="size10">
                <col class="size10">    
                <col class="size10">    
                <col class="size30">    
                <col class="size40">        
            </colgroup>
            <thead>
                <tr>
                    <th>ID CATÁLOGO</th>
                    <th>Título</th>
                    <th>ID</th>
                    <th>Opciones</th>
                    <th>Herramientas</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="i in loms">
                    <td></td>
                    <td>archivo.txt</td>{{i.general.id_catalog}}
                    <td>{{i._id}}</td>
                    <td>
                        <ul class="contentOptions">
                            <li><button disabled>Contenido</button></li>
                            <li><button ng-click="showInfoLom(i)">Información</button></li>
                            <li><button disabled>Estadísticas</button></li>
                        </ul>
                    </td>
                    <td>
                        <ul class="contentOptions">
                            <li><button ng-click="showEditLomForm(i)">Editar</button></li>
                            <li><button ng-click="removeLom(i._id)">Eliminar</button></li>
                            <li><button disabled>Descargar</button></li>
                            <li><button disabled>Empaquetar</button></li>
                            <li><button disabled>Evaluar y comentar</button></li>
                            <li><button disabled>Copiar</button></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table> -->


        <!-- <button class="btn btn-primary" ng-click="showLoms()">Mostrar</button>  -->

        <div class="contentAdminCourses__options">
            <button class="btnBq--withIcon" ng-click="goAddLom()">
                <span class="hidden-xs contentAdminCourses__options__title">Agregar Lom</span>
                <span title="Agregar Curso" class="bbq-page-add bbq-page-add--style1"></span>
            </button>
            <button class="btnBq--withIcon" ng-click="deleteAllLoms($event)">
                <span class="hidden-xs contentAdminCourses__options__title">Eliminar Todo</span>
                <span title="Eliminar todos los cursos" class="bbq-page-delete bbq-page-delete--style1"></span>
            </button>
        </div>
      
       <!--  <button class="btnBq--style1" disabled>Agregar con Asistente</button>
       <button class="btnBq--style1" disabled>Regresar</button> -->

       
        <div class="contentInfoLom" ng-show="InfoLom">
        	<div>
        		<h3 class="h3Class">General</h3>
        		<span class="attr">Id Catalog:</span>
        		<span>{{generalSchema.id_catalog}}</span>
        		<span class="attr">Language</span>
        		<span>{{generalSchema.id_entry}}</span>
        		<span class="attr">Structure</span>
        		<span>{{generalSchema.title}}</span>
        		<span class="attr">aggregation_level</span>
        		<span>{{generalSchema.language}}</span>
        		<span class="attr">id_entry</span>
        		<span>{{generalSchema.structure}}</span>
        		<span class="attr">id_catalog</span>
        		<span>{{generalSchema.aggregation_level}}</span>	
        	</div>
        	<div>
        		<h3 class="h3Class">Lifecycle</h3>
        		<span class="attr">contribution_type</span>
        		<span>{{lifecycleSchema.version}}</span>
        		<span class="attr">contribution_entity</span>
        		<span>{{lifecycleSchema.state}}</span>
        		<span class="attr">contribution_date</span>
        		<span>{{lifecycleSchema.contribution_type}}</span>
        		<span class="attr">state</span>
        		<span>{{lifecycleSchema.contribution_entity}}</span>
        		<span class="attr">version</span>
        		<span>{{lifecycleSchema.contribution_date}}</span>
        	</div>
        	<div>
        		<h3 class="h3Class">Metadata</h3>
        		<span class="attr">Contribution_type</span>
        		<span>{{metadataSchema.contribution_type}}</span>
        		<span class="attr">Contribution_entity</span>
        		<span>{{metadataSchema.contribution_entity}}</span>
        		<span class="attr">Contribution_date</span>
        		<span>{{metadataSchema.contribution_date}}</span>
        	</div>
        	<div>
        		<h3 class="h3Class">Technical</h3>
        		<span class="attr">Format</span>
        		<span>{{technicalSchema.format}}</span>
        		<span class="attr">Size_kb</span>
        		<span>{{technicalSchema.size_kb}}</span>
        		<span class="attr">Url</span>
        		<span>{{technicalSchema.url}}</span>
        	</div>
        	<div>
        		<h3 class="h3Class">Use</h3>
        		<span class="attr">Interactivity_type</span>
        		<span>{{useSchema.interactivity_type}}</span>
        		<span class="attr">Interactivity_level</span>
        		<span>{{useSchema.interactivity_level}}</span>
        		<span class="attr">Language</span>
        		<span>{{useSchema.language}}</span>
        		<span class="attr">Resource_type</span>
        		<span>{{useSchema.resource_type}}</span>
        		<span class="attr">Resource_target</span>
        		<span>{{useSchema.resource_target}}</span>
        		<span class="attr">Resource_context</span>
        		<span>{{useSchema.resource_context}}</span>
        		<span class="attr">Resource_difficulty</span>
        		<span>{{useSchema.resource_difficulty}}</span>
        	</div>
        	<button ng-click="hideInfoLom()">Ocultar</button>
        </div>
    
</div>


