<div class="contentAdminLoms">
    
        <h4>ADMINISTRAR RECURSOS</h4>
        <ul>
        	<li>Editar</li>
        	<li>Eliminar</li>
        	<li>Descargar</li>
        	<li>Empaquetar</li>
        	<li>Evaluar y comentar</li>
        	<li>Objeto de aprendizaje</li>
        	<li>Contenido</li>
        	<li>Información</li>
        	<li>Estadísticas</li>
        	<li>Copiar URL</li>
        </ul>

		<table>
			<caption>Tabla de administración de recursos</caption>
			<colgroup>
				<col class="size10">
				<col class="size10">	
				<col class="size10">	
				<col class="size30">	
				<col class="size40">		
			</colgroup>
			<thead>
				<tr>
					<th>ID CATÁLOGO</th>
					<th>Título</th>
					<th>ID</th>
					<th>Opciones</th>
					<th>Herramientas</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="i in loms">
					<td>{{i.general.id_catalog}}</td>
					<td>archivo.txt</td>
					<td>{{i._id}}</td>
					<td>
						<ul class="contentOptions">
							<li><button disabled>Contenido</button></li>
							<li><button ng-click="showInfoLom(i)">Información</button></li>
							<li><button disabled>Estadísticas</button></li>
						</ul>
					</td>
					<td>
						<ul class="contentOptions">
							<li><button ng-click="showEditLomForm(i)">Editar</button></li>
							<li><button ng-click="removeLom(i._id)">Eliminar</button></li>
							<li><button disabled>Descargar</button></li>
							<li><button disabled>Empaquetar</button></li>
							<li><button disabled>Evaluar y comentar</button></li>
							<li><button disabled>Copiar</button></li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>


        <button class="btn btn-primary" ng-click="showAddLomForm()">Agregar</button>
        <!-- <button class="btn btn-primary" ng-click="showLoms()">Mostrar</button> -->
        <button class="btn btn-primary" ng-click="deleteAllLoms()">Eliminar todo</button>
        <button class="btn btn-primary" disabled>Agregar con Asistente</button>
        <button class="btn btn-primary" disabled>Regresar</button>

        <form id="adminLomsForm" name="adminLomsForm" class="contentForm" ng-submit="addEditLom()" ng-show="showAdminLomsForm" ng-hide="!showAdminLomsFormValid" novalidate>
        <fieldset>
        	<legend>FORMULARIO AGREGAR</legend>

        	<fieldset>
        		<legend>General</legend>

				<label for="generalSchema_catalog">Identificador Catálogo*</label>
				<input ng-model="generalSchema.id_catalog" type="text" id="generalSchema_catalog" name="generalSchema_catalog" required>

				<label for="generalSchema_entry">Identificador De Entrada*</label>
				<input ng-model="generalSchema.id_entry" type="number" id="generalSchema_entry" name="generalSchema_entry">

				<label for="generalSchema_title">Título*</label>
				<input ng-model="generalSchema.title" type="text" id="generalSchema_title" name="generalSchema_title">

				<label for="generalSchema_language">Idioma*</label>
				<select ng-model="generalSchema.language" id="generalSchema_language"  type="text" name="generalSchema_language">
				  <option>es</option>
				  <option>en</option>
				</select>

				<label for="generalSchema_structure">Estructura*</label>
				<select ng-model="generalSchema.structure" id="generalSchema_structure" type="text" name="generalSchema_structure">
				  <option>atomic</option>
				  <option>complex</option>
				</select>

				<label for="generalSchema_aggregation_level">Nivel de agregación*</label>
				<input ng-model="generalSchema.aggregation_level" type="number" id="generalSchema_aggregation_level" name="generalSchema_aggregation_level">
        	</fieldset>

        	<fieldset>
        		<legend>Ciclo de vida</legend>
				
				<label for="lifecycleSchema_version">Versión</label>
				<input ng-model="lifecycleSchema.version" type="number" id="lifecycleSchema_version" name="lifecycleSchema_version">

				<label for="lifecycleSchema_state">Estado</label>
				<select ng-model="lifecycleSchema.state" id="lifecycleSchema_state" type="text" name="lifecycleSchema_state">
				  <option>draft</option>
				  <option>final</option>
				</select>
				
				<label for="lifecycleSchema_contribution_type">Contribución.Tipo*</label>
				<input ng-model="lifecycleSchema.contribution_type" type="text" id="lifecycleSchema_contribution_type" name="lifecycleSchema_contribution_type">

				<label for="lifecycleSchema_contribution_entity">Contribución.Entidad*</label>
				<input ng-model="lifecycleSchema.contribution_entity" type="text" id="lifecycleSchema_contribution_entity" name="lifecycleSchema_contribution_entity">

				<label for="lifecycleSchema_contribution_date">Contribución.Fecha*</label>
				<input ng-model="lifecycleSchema.contribution_date" type="date" id="lifecycleSchema_contribution_date" name="lifecycleSchema_contribution_date">

        	</fieldset>
        	<fieldset>
        		<legend>Meta-metadatos</legend>

				<label for="metadataSchema_contribution_type">Contribución.Tipo</label>
				<input ng-model="metadataSchema.contribution_type" type="text" id="metadataSchema_contribution_type" name="metadataSchema_contribution_type">

				<label for="metadataSchema_contribution_entity">Contribución.Entidad*</label>
				<input ng-model="metadataSchema.contribution_entity" type="text" id="metadataSchema_contribution_entity" name="metadataSchema_contribution_entity">

				<label for="metadataSchema_contribution_date">Contribución.Fecha*</label>
				<input ng-model="metadataSchema.contribution_date" type="date" id="metadataSchema_contribution_date" name="metadataSchema_contribution_date">

        	</fieldset>
        	<fieldset>
        		<legend>Técnico</legend>
				
				<label for="technicalSchema_format">Formato</label>
				<input ng-model="technicalSchema.format" type="text" id="technicalSchema_format" name="technicalSchema_format">

				<label for="technicalSchema_size_kb">Tamaño</label>
				<input ng-model="technicalSchema.size_kb" type="number" id="technicalSchema_size_kb" name="technicalSchema_size_kb">

				<label for="technicalSchema_url">Localización</label>
				<input ng-model="technicalSchema.url" type="text" id="technicalSchema_url" name="technicalSchema_url">

        	</fieldset>
        	<fieldset>
        		<legend>Uso Educativo</legend>

				<label for="useSchema_interactivity_type">Tipo de interactividad</label>
				<input ng-model="useSchema.interactivity_type" type="text" id="useSchema_interactivity_type" name="useSchema_interactivity_type">

				<label for="useSchema_interactivity_level">Nivel de interactividad</label>
				<input ng-model="useSchema.interactivity_level" type="text" id="useSchema_interactivity_level" name="useSchema_interactivity_level">

				<label for="useSchema_language">Idioma*</label>
				<input ng-model="useSchema.language" type="text" id="useSchema_language" name="useSchema_language">

				<label for="useSchema_resource_type">Tipo de recurso*</label>
				<input ng-model="useSchema.resource_type" type="text" id="useSchema_resource_type" name="useSchema_resource_type">

				<label for="useSchema_resource_target">Objetivo de recursos</label>
				<input ng-model="useSchema.resource_target" type="text" id="useSchema_resource_target" name="useSchema_resource_target">

				<label for="useSchema_resource_context">Contexto</label>
				<input ng-model="useSchema.resource_context" type="text" id="useSchema_resource_context" name="useSchema_resource_context">

				<label for="useSchema_resource_difficulty">Dificultad</label>
				<input ng-model="useSchema.resource_difficulty" type="text" id="useSchema_resource_difficulty" name="useSchema_resource_difficulty">

        	</fieldset>
        </fieldset>
       	<input type="submit" name="sendFormAddLom">
        </form>
        <div class="contentInfoLom" ng-show="InfoLom">
        	<div>
        		<h3 class="h3Class">General</h3>
        		<span class="attr">Id Catalog:</span>
        		<span>{{generalSchema.id_catalog}}</span>
        		<span class="attr">Language</span>
        		<span>{{generalSchema.id_entry}}</span>
        		<span class="attr">Structure</span>
        		<span>{{generalSchema.title}}</span>
        		<span class="attr">aggregation_level</span>
        		<span>{{generalSchema.language}}</span>
        		<span class="attr">id_entry</span>
        		<span>{{generalSchema.structure}}</span>
        		<span class="attr">id_catalog</span>
        		<span>{{generalSchema.aggregation_level}}</span>	
        	</div>
        	<div>
        		<h3 class="h3Class">Lifecycle</h3>
        		<span class="attr">contribution_type</span>
        		<span>{{lifecycleSchema.version}}</span>
        		<span class="attr">contribution_entity</span>
        		<span>{{lifecycleSchema.state}}</span>
        		<span class="attr">contribution_date</span>
        		<span>{{lifecycleSchema.contribution_type}}</span>
        		<span class="attr">state</span>
        		<span>{{lifecycleSchema.contribution_entity}}</span>
        		<span class="attr">version</span>
        		<span>{{lifecycleSchema.contribution_date}}</span>
        	</div>
        	<div>
        		<h3 class="h3Class">Metadata</h3>
        		<span class="attr">Contribution_type</span>
        		<span>{{metadataSchema.contribution_type}}</span>
        		<span class="attr">Contribution_entity</span>
        		<span>{{metadataSchema.contribution_entity}}</span>
        		<span class="attr">Contribution_date</span>
        		<span>{{metadataSchema.contribution_date}}</span>
        	</div>
        	<div>
        		<h3 class="h3Class">Technical</h3>
        		<span class="attr">Format</span>
        		<span>{{technicalSchema.format}}</span>
        		<span class="attr">Size_kb</span>
        		<span>{{technicalSchema.size_kb}}</span>
        		<span class="attr">Url</span>
        		<span>{{technicalSchema.url}}</span>
        	</div>
        	<div>
        		<h3 class="h3Class">Use</h3>
        		<span class="attr">Interactivity_type</span>
        		<span>{{useSchema.interactivity_type}}</span>
        		<span class="attr">Interactivity_level</span>
        		<span>{{useSchema.interactivity_level}}</span>
        		<span class="attr">Language</span>
        		<span>{{useSchema.language}}</span>
        		<span class="attr">Resource_type</span>
        		<span>{{useSchema.resource_type}}</span>
        		<span class="attr">Resource_target</span>
        		<span>{{useSchema.resource_target}}</span>
        		<span class="attr">Resource_context</span>
        		<span>{{useSchema.resource_context}}</span>
        		<span class="attr">Resource_difficulty</span>
        		<span>{{useSchema.resource_difficulty}}</span>
        	</div>
        	<button ng-click="hideInfoLom()">Ocultar</button>
        </div>
    
</div>