
<div class="wrapperObjectives">
	<div class="contentTitle">
        <h2 class="h2Class">Lista de Objetivos</h2>
    </div>
    <div class="wrapperObjectives__contetObjetives">
		<ul class="wrapperObjectives__contetObjetives__list">
			<li class="wrapperObjectives__contetObjetives__list__element">
				<img src="" alt="" class="wrapperObjectives__contetObjetives__list__element__img">
				<div class="wrapperObjectives__contetObjetives__list__element__info">
					<p></p>
					<p></p>
				</div>
			</li>
		</ul>

    </div>
</div>