
<div ng-show="objectivesPage" class="wrapperObjectives">
	<div class="contentTitle">
        <h2 class="h2Class">Lista de Objetivos</h2>
    </div>
    <div class="wrapperObjectives__contetObjetives">
		<ul class="wrapperObjectives__contetObjetives__list">
			<li class="wrapperObjectives__contetObjetives__list__element">
			<div class="wrapperObjectives__contetObjetives__list__element__contentImage">
				<img src="../../assets/images/common/angular.png" alt="" class="wrapperObjectives__contetObjetives__list__element__contentImage__img"/>
			</div>
				<div class="wrapperObjectives__contetObjetives__list__element__info">
					<p class="wrapperObjectives__contetObjetives__list__element__info__title">Conocimiento</p>
					<p class="wrapperObjectives__contetObjetives__list__element__info__description">Componentes físicos y sensores comunmente utilizados en el diseño y construcción de robots.</p>
				</div>
			</li>
		</ul>

    </div>
</div>