<div class="contentTitle">
    <h2 class="h2Class">Cuestionario</h2>
</div>

<div class="contentQuestionnaire">
	<form name="userQuestionnaire" class="contentQuestionnaire__form" ng-submit="sendQuestionnaire()">
			<div class="row">
				<div class="contentRow clearfix">
					<div class="contentQuestionnaire__form__wrapperQuestions" ng-repeat="question in questionAnswer">
						<div class="col-xs-12 col-sm-6">
							<div class="contentCol">
								<p class="contentQuestionnaire__form__wrapperQuestions__question">{{question.title}}</p>
								<div class="contentQuestionnaire__form__wrapperQuestions__options" ng-repeat="option in question.values">
									<input id="q{{$parent.$index+1}}_option_{{$index+1}}" type="radio" name="question_{{$parent.$index+1}}" ng-value="option|lowercase" ng-model="question.value"> 
									<label for="q{{$parent.$index+1}}_option_{{$index+1}}">{{option}}</label>	
								</div>		
							</div>
						</div>
					</div>
					<div class="col-xs-12 center">	
						<input class="contentQuestionnaire__form__input btnBq--style1" type="submit" name="">
					</div>
				</div>	
			</div>
	</form>
</div>