<div class="contentSignUp">
	<h1 class="contentSignUp__contentLogo">
		<img class="contentSignUp__contentLogo__logo" src="logo_bbq.png" alt="logo">
		<img class="contentSignUp__contentLogo__title" src="logo_bbq.png" alt="title">
	</h1>
	<div class="contentSignUp__wrapperContent">
		<h2 class="contentSignUp__wrapperContent__title">Entrar</h2>
		<form class="contentSignUp__wrapperContent__form" name="signUpForm" ng-submit="signUp()">
			<div class="contentRow">
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<div class="contentCol clearfix">
							<label class="contentSignUp__wrapperContent__form__label">
								Usuario
							</label>
							<input class="contentSignUp__wrapperContent__form__input" ng-model="user.name" type="text" name="" placeholder="Nombre de usuario" />
							<span class=""></span>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="contentCol clearfix">
							<label class="contentSignUp__wrapperContent__form__label">
								Email
							</label>
							<input class="contentSignUp__wrapperContent__form__input" ng-model="user.email" type="text" name="" placeholder="Email"/>
							<span class=""></span>
						</div>
					</div>
				</div>
			</div>
			<div class="contentSignUp__wrapperContent__form__optionsCheck clearfix">
				<div class="contentSignUp__wrapperContent__form__optionsCheck__content clearfix">
					<input class="contentSignUp__wrapperContent__form__optionsCheck__content__checkBox" type="checkbox" name=""/>
					<label class="contentSignUp__wrapperContent__form__optionsCheck__content__labelCheck">Soy profesor y/o quiero recibir noticias, consejos y avisos de la aplicación</label>
				</div>
				<div class="contentSignUp__wrapperContent__form__optionsCheck__content clearfix">
					<input class="contentSignUp__wrapperContent__form__optionsCheck__content__checkBox" type="checkbox" name=""/>
					<label class="contentSignUp__wrapperContent__form__optionsCheck__content__labelCheck">He leído y acepto las <a href="#">condiciones</a> y <a href="#">políticas de privacidad</a></label>
				</div>
			</div>
			<div class="contentSignUp__wrapperContent__form__submit">
				<button class="btnBq--withIcon width100" type="submit">Registrarme</button>
			</div>			
		</form>
	</div>
	<div class="contentSignUp__info">
		<p class="contentSignUp__info__text">
			Ya estoy registrado
		</p>
	</div>
</div>