<div ng-show="!coursePage" class="contentTotalCourses">
        <div class="contentTitle">
            <h2 class="h2Class">Cursos</h2>
        </div>
        <div class="contentCourses mb30">
            <div class="row">
                <div class="col-xs-12 col-sm-2">
                    <div class="viewOptions clearfix">
                        <a ng-click="viewCourseWithoutInfo()" class="viewOptions__byIcon" ng-class="{active:!viewCoursesInfo}" href>
                            <span class="bbq-thumbnails bbq-thumbnails--style"></span>
                        </a>
                        <a ng-click="viewCourseWithInfo()" class="viewOptions__byList" ng-class="{active:viewCoursesInfo}" href>
                            <span class="bbq-list bbq-list--style"></span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-10">
                    <form class="contentCourses__viewOptionsfilterSearch">
                        <div class="row">
                            <div class="col-xs-6 col-sm-9">
                                <select class="contentCourses__viewOptionsfilterSearch__filter">
                                    <option selected="" disabled value="0">Filtrar por:</option>
                                </select>  
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <div class="contentCourses__viewOptionsfilterSearch__search">
                                    <input ng-model="searchText" placeholder="Buscar ..." class="contentCourses__viewOptionsfilterSearch__search__input" type="text" name="searchCourse"> 
                                    <span class="bbq-search bbq-search--Courses"></span>   
                                </div>  
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="contentCourses__wrapperCourses">
                <ul class="row">
                    <li ng-repeat="i in courses | filter:searchText" class="col-xs-12 col-sm-4">          
                        <div class="contentCourses__wrapperCourses__course">
                            <div class="contentCourses__wrapperCourses__course__contentLinks">                         
                               <a class="contentCourses__wrapperCourses__course__link clearfix" ng-click="goCourse(i, activeUser._id)" href>
                                    <div class="contentCourses__wrapperCourses__course__link__contentImage">
                                        <img class="contentCourses__wrapperCourses__course__link__contentImage__image" ng-src="{{i.photo}}">
                                    </div>
                                    <div >
                                        <div class="contentCourses__wrapperCourses__course__link__contentTitle">
                                            <p class="contentCourses__wrapperCourses__course__link__contentTitle__name">{{i.name}}</p>
                                           <p class="contentCourses__wrapperCourses__course__link__contentTitle__description">{{i.summary}}</p> 
                                        </div>
                                        <ul class="contentCourses__wrapperCourses__course__link__contentInfo">
                                            <li class="contentCourses__wrapperCourses__course__link__contentInfo__iconNum" title="Secciones">
                                                <span class="bbq-sections bbq-sections--courses" title="Secciones"></span>
                                                <span class="contentCourses__wrapperCourses__course__link__contentInfo__iconNum__num">{{i.sections.length}}</span>
                                            </li>
                                            <li class="contentCourses__wrapperCourses__course__link__contentInfo__iconNum" title="Lecciones">
                                                <span class="bbq-lessons bbq-lessons--courses"></span>
                                                <span class="contentCourses__wrapperCourses__course__link__contentInfo__iconNum__num">{{i.sections[0].lessons.length}}</span><!-- <span class="contentCourses__wrapperCourses__course__link__contentInfo__iconNum__num">{{}}</span> -->
                                            </li>
                                            <li class="contentCourses__wrapperCourses__course__link__contentInfo__iconNum" title="Estudiantes matriculados">
                                                <span class="bbq-students bbq-students--courses"></span>
                                                <span class="contentCourses__wrapperCourses__course__link__contentInfo__iconNum__num">{{i.statistics.std_enrolled.length}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </a>
							</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    
</div>