<div class="contentAdminResources">
    
        <h4>ADMINISTRACIÓN DE RECURSOS</h4>
        <button class="btn btn-primary">Editar</button>
        <button class="btn btn-primary">Eliminar</button>
        <button class="btn btn-primary">Descargar</button>
        <button class="btn btn-primary">Enpaquetar</button>
        <button class="btn btn-primary">Evaluar y Comentar</button>
        <button class="btn btn-primary">Objeto de Aprendizaje</button>
        <!-- <ul ng-repeat="i in resources"><li>{{i.identification.name}}</li></ul> -->
    
</div>